				.title-fields-callback {
					font-size:16px;
					text-align:right;
					color:orange !important;
				}
				.jPicker.Container {
					position:fixed !important;
					top:35% !important;
				}
				.form-control.jpicker-csseditor-callback_20 {
					display: inline-block;
					float: left;
					margin-right: 5px;
					width: 25%;
				}
				
#tcb-call, #tcb-call *{
    box-shadow: none;
    box-sizing: content-box;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    transform-origin: 50% 50% 0;
}
#tcb-call {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    bottom: 10%;
    display: block;
    height: 100px;
    opacity: 0.75;
    position: relative;
    width: 100px;
    z-index: 1000;
}
#tcb-call .tcb-layout {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 2s linear 0s normal none infinite running spin;
    border-color: #09f transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    cursor: pointer;
    display: block;
    height: 100px;
    position: absolute;
    width: 100px;
}
#tcb-call .tcb-layout:before {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 3s linear 0s normal none infinite running spin;
    border-color: #09f transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    bottom: 5px;
    content: "";
    left: 5px;
    position: absolute;
    right: 5px;
    top: 5px;
}
#tcb-call .tcb-layout:after {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    animation: 1.5s linear 0s normal none infinite running spin;
    border-color: #09f transparent transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    bottom: 14px;
    content: "";
    left: 14px;
    position: absolute;
    right: 14px;
    top: 14px;
}
#tcb-call .tcb-phone {
    background: #09f;
    border-radius: 50%;
    height: 50px;
    left: 28px;
    position: absolute;
    top: 28px;
    width: 50px;
}
#tcb-call .tcb-phone-img {
    background: url("../image/logo_drag_btn.png") no-repeat scroll center center / 35px auto;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
	animation: 1.5s linear 0s normal none infinite running tada;
}
#tcb-call:hover .tcb-phone{
	background:#4BD82B;
}
#tcb-call:hover .tcb-layout{
	border-color: #4BD82B transparent transparent;
}
#tcb-call:hover .tcb-layout:before{
	border-color: #4BD82B transparent transparent;
}
#tcb-call:hover .tcb-layout:after{
	border-color: #4BD82B transparent transparent;
}
#tcb-call a, #tcb-call a:hover, #tcb-call a:active, #tcb-call a:focus {
    outline: 0 none;
}
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}

@keyframes tada {
0% {
    transform: scale3d(1, 1, 1);
}
10%, 20% {
    transform: scale3d(0.9, 0.9, 0.9) rotate3d(0, 0, 1, -5deg);
}
30%, 50%, 70%, 90% {
    transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, 5deg);
}
40%, 60%, 80% {
    transform: scale3d(1.0, 1.0, 1.0) rotate3d(0, 0, 1, -5deg);
}
100% {
    transform: scale3d(1, 1, 1);
}
}
#tcb-call_1, #tcb-call_1 *{
    box-shadow: none;
    box-sizing: content-box;
    font-size: 14px;
    font-weight: 300;
    line-height: 1.2;
    margin: 0;
    padding: 0;
    transform-origin: 50% 50% 0;
	  cursor: pointer;
}
#tcb-call_1 {
    background: rgba(0, 0, 0, 0) none repeat scroll 0 0;
    border: medium none;
    border-radius: 50%;
    bottom: 10%;
    display: block;
    height: 80px;
    opacity: 0.75;
    position: relative;
    width: 80px;
    z-index: 1000;
}
#tcb-call_1 .tcb-layout_1:before {
    animation: 900ms linear 0s normal none infinite running spin;
    border-color: #09f transparent;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    bottom: 0px;
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
}
#tcb-call_1 .tcb-layout_1:after { 
    border-color: #09f;
    border-image: none;
    border-radius: 50%;
    border-style: solid;
    border-width: 2px;
    bottom: 0px;
    content: "";
    left: 0px;
    position: absolute;
    right: 0px;
    top: 0px;
	opacity:0.25;
}
#tcb-call_1 .tcb-phone_1{
    background: #09f;
    border-radius: 50%;
    height: 50px;
    left: 16px;
    position: absolute;
    top: 15px;
    width: 50px;
}
#tcb-call_1 .tcb-phone-img_1 {
    background: url("../image/logo_drag_btn.png") no-repeat scroll center center / 35px auto;
    border-radius: 50%;
    height: 50px;
    position: absolute;
    width: 50px;
	animation: 1.5s linear 0s normal none infinite running tada;
}
#tcb-call_1:hover .tcb-phone_1{
	background:#4BD82B;
}
#tcb-call_1:hover .tcb-layout_1:before{
	animation: 500ms linear 0s normal none infinite running spin;
	border-color: #4BD82B transparent;
}
#tcb-call_1:hover .tcb-layout_1:after{
	border-color: #4BD82B;
}
#tcb-call_1 a, #tcb-call_1 a:hover, #tcb-call_1 a:active, #tcb-call_1 a:focus {
    outline: 0 none;
}
@keyframes spin {
0% {
    transform: rotate(0deg);
}
100% {
    transform: rotate(360deg);
}
}



   .onoffswitch {
        position: relative;
		width: 75px;
		background-color: white;
		background-image: linear-gradient(to bottom, #eeeeee, white 25px);
		border-radius: 18px;
		box-shadow: 0 -1px white inset, 0 1px 1px rgba(0, 0, 0, 0.05) inset;
		padding: 3px;
        -webkit-user-select:none;
		-moz-user-select:none;
		-ms-user-select: none;
    }
    .onoffswitch-checkbox {
        display: none;
    }
    .onoffswitch-label {
        display: block;
		overflow: hidden;
		cursor: pointer;
		border-radius: 15px;
		margin-bottom:1px;
    }
    .onoffswitch-inner {
        display: block;
		width: 200%;
		margin-left: -100%;
        transition: background 0.2s ease-in 0s;
    }
    .onoffswitch-inner:before, .onoffswitch-inner:after {
        display: block;
		float: left;
		width: 50%;
		height: 29px;
		padding: 0;
		line-height: 29px;
        font-size: 14px;
		color: white;
		font-family: Trebuchet, Arial, sans-serif; font-weight: bold;
        box-sizing: border-box;
    }
    .onoffswitch-inner:before {
        content: "ON";
        padding-left: 13px;
		color: #ffffff;
		background-color: #47a8d8;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset, 0 0 3px rgba(0, 0, 0, 0.2) inset;
		text-shadow: 0 1px rgba(0, 0, 0, 0.2);
		border-radius: 18px;
		font-size:13px;
    }
    .onoffswitch-inner:after {
        content: "OFF";
        padding-right: 9px;
		box-shadow: 0 1px 2px rgba(0, 0, 0, 0.15) inset, 0 0 3px rgba(0, 0, 0, 0.2) inset;
		text-shadow: 0 1px rgba(255, 255, 255, 0.5);
		color: #aaa;
		background:#eceeef none repeat scroll 0 0;
        text-align: right;
		border-radius: 18px;
		font-size:13px;
    }
    .onoffswitch-switch {
        display: block;
		width: 25px;
		height:25px;
        box-shadow:-1px 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.02) inset;
        background: #f9f9f9 linear-gradient(to bottom, #eeeeee, white) repeat scroll 0 0;
        position: absolute;
		top: 5px;
		bottom: 4px;
        right: 45px;
        border: 4px solid #FFFFFF;
		border-radius: 15px;
        transition: all 0.2s ease-in 0s; 
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-inner {
        margin-left: 0;
    }
    .onoffswitch-checkbox:checked + .onoffswitch-label .onoffswitch-switch {
        right: 5px; 
		box-shadow:-1px 1px 5px rgba(0, 0, 0, 0.2), 0 1px rgba(0, 0, 0, 0.02) inset;
        background: #f9f9f9 linear-gradient(to bottom, #eeeeee, white) repeat scroll 0 0;
		
    }