{{ header }}
<div class="container">
  <script type="application/ld+json">
{ "@context": "https://schema.org",
 "@type": "BreadcrumbList",
 "itemListElement":
 [
    {% for key, breadcrumb in breadcrumbs %}
  {"@type": "ListItem",
   "position": {{ key+1 }},
   "item":
   { "@id": "{{ breadcrumb.href }}",
    "name": "{{ breadcrumb.text }}"
    }
  } {% if key+1 < breadcrumbs|length %}, {% endif %}
  {% endfor %}
 ]
}
</script>
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  
  <div class="row catalog-page">
  
  {{ column_left }}
 
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-md-9 col-sm-8' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    
    <div id="content" class="{{ class }}">
    {{ content_top }}
      
      <h1 id="page-title">{{ heading_title }}</h1>
      
      {% if (thumb and category_thumb_status) or (description) %}
        {% if thumb and category_thumb_status %}
        <img class="category-main-thumb img-responsive" src="{{ thumb }}" alt="{{ heading_title }}" title="{{ heading_title }}"  width="" height="" loading="lazy" />
        {% endif %}
      {% endif %}
      
      {% if categories and category_subs_status %}
      <p class="h3 lined-title"><span>{{ text_refine }}</span></p>
      	<div class="grid-holder categories grid{{ basel_subs_grid }}">
        	{% for i, category in categories %}
            <div class="item">
            <a href="{{ category.href }}">
              <img class="img-responsive" src="{{ category.thumb }}" alt="{{ category.name }} – фото {{ 1 + i }}" title="{{ category.name }} – фото {{ 1 + i }}" width="" height="" loading="lazy" />
            </a>
            <a href="{{ category.href }}">{{ category.name }}</a></div>
            {% endfor %}
        </div>
     {% endif %}
	      
      {% if products %}
      <div id="product-view" class="grid">
      
      <div class="table filter">
      
      	<div class="table-cell nowrap hidden-sm hidden-md hidden-lg"><a class="filter-trigger-btn"></a></div>
          
          <!--<div class="table-cell nowrap hidden-xs">
          <a id="grid-view" class="view-icon grid" data-toggle="tooltip" data-title="{{ button_grid }}"><i class="fa fa-th"></i></a>
          <a id="list-view" class="view-icon list" data-toggle="tooltip" data-title="{{ button_list }}"><i class="fa fa-th-list"></i></a>
          </div>-->
          
          <div class="table-cell w100">
          <a href="{{ compare }}" id="compare-total" class="hidden-xs">{{ text_compare }}</a>
          </div>
          
          <div class="table-cell nowrap text-right">
          <div class="sort-select">
          <span class="hidden-xs">{{ text_sort }}</span>
          <select id="input-sort" class="form-control input-sm inline" onchange="location = this.value;">
            {% for sorts in sorts %}
            {% if sorts.value == '%s-%s'|format(sort, order) %}
            <option value="{{ sorts.href }}" selected="selected"> {{ sorts.text }}</option>
            {% else %}
            <option value="{{ sorts.href }}" >{{ sorts.text }}</option>
            {% endif %}
            {% endfor %}
          </select>
          </div>
          </div>
          
          <div class="table-cell nowrap text-right hidden-xs hidden-sm">
          <span>{{ text_limit }}</span>
          <select id="input-limit" class="form-control input-sm inline" onchange="location = this.value;">
            {% for limits in limits %}
            {% if limits.value == limit %}
            <option value="{{ limits.href }}" selected="selected">{{ limits.text }}</option>
            {% else %}
            <option value="{{ limits.href }}">{{ limits.text }}</option>
            {% endif %}
            {% endfor %}
          </select>
          </div>
      
      </div>
      
      <div class="grid-holder product-holder grid{{ basel_prod_grid }}">
        {% for product in products %}
        {% include 'basel/template/product/single_product.twig' %}
        {% endfor %}
      </div>
	  
      </div> <!-- #product-view ends -->
      
      <div class="row pagination-holder">
        <div class="col-sm-6 xs-text-center pagination-navigation">{{ pagination }}</div>
        <div class="col-sm-6 text-right xs-text-center"><span class="pagination-text">{{ results }}</span></div>
      </div>
      
      {% endif %}
      {% if description and description != '<p><br></p>' %}
        <div class="category-description">{{ description }}</div>
        {% endif %}
      <div class="i-here"></div>
      
      {% if not categories and not products %}
      <p>{{ text_empty }}</p>
      {% endif %}
      
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>
<script>
$( ".option-click" ).change(function() {
  var thisprice = $(this).attr("data-price");
  var overid = $(this).attr("data-op");
  var str = $("#" + overid + " .price-ov").val();
  str = str.replace(/[^-0-9]/gim,'');
  var qnty = $("#" + overid + " .input-quantity").val();
  
if($(this).is(":checked")){
   str = parseInt(str) + parseInt(thisprice);
}
  str = str * qnty;
  $("#" + overid + " .price-pr .price-real").html(str + "грн.");
});

$( ".input-quantity" ).bind('click keyup', function(event) {
  var overid = $(this).attr("data-op");
  var thisprice = $("#" + overid + " .option-click").attr("data-price");
  var str = $("#" + overid + " .price-ov").val();
  str = str.replace(/[^-0-9]/gim,'');
  var qnty = $("#" + overid + " .input-quantity").val();
  
if($("#" + overid + " .option-click").is(":checked")){
   str = parseInt(str) + parseInt(thisprice);
}
  str = str * qnty;
  $("#" + overid + " .price-pr .price-real").html(str + "грн.");
});

$(".category-btn-open").click(function() {
  var varov = $(this).attr("data-prodid");
  $("#" + varov).show();
});
$(".prod-ov-close").click(function() {
  var varov = $(this).attr("data-close");
  $("#" + varov).hide();
});


function addCartOption(id) {
	var product = '#product' + id;
	
	$.ajax({
		url: 'index.php?route=extension/basel/basel_features/add_to_cart',
		type: 'post',
		data: $(product + ' input[type=\'text\'], ' + product + ' .input-quantity, ' + product + ' input[type=\'hidden\'], ' + product + ' input[type=\'radio\']:checked, ' + product + ' input[type=\'checkbox\']:checked, ' + product + ' select, ' + product + ' textarea'),
		dataType: 'json',
		beforeSend: function(json) {
			$('body').append('<span class="basel-spinner ajax-call"></span>');
		},

		success: function(json) {
			$('.alert, .text-danger').remove();
			$('.table-cell').removeClass('has-error');

			if (json.error) {
				$('.basel-spinner.ajax-call').remove();
				if (json.error.option) {
					for (i in json.error.option) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json.error.option[i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json.error.option[i] + '</div>');
						}
					}
				}

				if (json.error.recurring) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

				if (json.success_redirect) {
					
					location = json.success_redirect;
				
				} else if (json.success) {
					
					$('.table-cell').removeClass('has-error');
					$('.alert, .popup-note, .basel-spinner.ajax-call, .text-danger').remove();
				 
					html = '<div class="popup-note">';
					html += '<div class="inner">';
					html += '<a class="popup-note-close" onclick="$(this).parent().parent().remove()">&times;</a>';
					html += '<div class="table">';
					html += '<div class="table-cell v-top img"><img src="' + json.image + '" /></div>';
					html += '<div class="table-cell v-top">' + json.success + '</div>';
					html += '</div>';
					html += '</div>';
					html += '</div>';
					$('body').append(html);
					setTimeout(function() {$('.popup-note').hide();}, 8100);
					// Need to set timeout otherwise it wont update the total
					setTimeout(function () {
					$('.cart-total-items').html( json.total_items );
					$('.cart-total-amount').html( json.total_amount );
					}, 100);

					$('#cart-content').load('index.php?route=common/cart/info #cart-content > *');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
}
</script>
{{ footer }}
