<div id="product{{ product.product_id }}" class="item single-product">
  <div class="product-over" id="over{{ product.product_id }}">
    <div class="prod-ov-close" data-close="over{{ product.product_id }}">X</div>
    <input type="hidden" name="product_id" value="{{ product.product_id }}" />
    <input class="price-ov" type="hidden" value="{% if product.special %}{{ product.special }}{% else %}{{ product.price }}{% endif %}" />
    <div class="img-ov"><img src="{{ product.thumb }}" alt="Опция {{ product.name }} – фото {{ 1 + product.key }}" title="Опция {{ product.name }} – фото {{ 1 + product.key }}" width="{{ product.width }}" height="{{ product.height }}" loading="lazy" /></div>
    {% if product.options %}
      <div class="options">
        {% for option in product.options %}

          {% if option.type == 'checkbox' %}
            <div class="form-group{% if option.required %} required{% endif %}">
              <div class="checkbox-cell name">
                <label class="control-label">{% for option_value in option.product_option_value %}<input class="option-click" data-price="{{ option_value.price }}" data-op="over{{ product.product_id }}" type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" /><span class="check"></span>{% endfor %}{{ option.name }}<i class="fa fa-question-circle qu-hover"><div class="qu-text">Обработка HiFloat продлевает время полёта шариков: вместо 8-12 часов они будут радовать вас несколько дней</div></i></label>
              </div>
            </div>
          {% endif %}

        {% endfor %} <!-- foreach option -->
      </div>
    {% endif %}
    {% if product.price %}
      <div class="price">
        <div class="price-pr">
          {% if product.special %}
            <span class="price-old">{{ product.price }}</span><span class="price-new price-real">{{ product.special }}</span>
          {% else %}
            <span class="price-real">{{ product.price }}</span>
          {% endif %}
          {% if product.tax %}
            <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
          {% endif %}
        </div>
        <div class="price-btn">
          <div class="br-btnbuy">
           <input id="inp{{ product.product_id }}" data-op="over{{ product.product_id }}" type="number" step="1" min="1" name="quantity" value="1" class="form-control input-quantity input-quantity-option">
           <a class="btn catalog_hide {% if basel_list_style == '6' %}btn-contrast{% else %}btn-outline{% endif %}" {% if button_cart == 'Купить' %}onclick="addCartOption('{{ product.product_id }}');"{% endif %}><span class="global-cart"></span>{{ button_cart }}</a>
         </div>
         {% if button_cart == 'Купить' %}
          <div class="br-btnon">
            <a onclick="fastorder_open({{ product.product_id }});" class="btn catalog_hide {% if basel_list_style == '6' %}btn-contrast{% else %}btn-outline{% endif %}" >Быстрый заказ</a>
          </div>
        {% endif %} 
      </div>
    </div><!-- .price -->
  {% endif %}
</div>
<div class="image" {% if columns == 'list' %}style="width:{{ img_width }}px"{% endif %}>
  <a href="{{ product.href }}">
    <img src="{{ product.thumb }}" class="hidden-xs" alt="{{ product.name }} – фото {{ 1 + product.key }}" title="{{ product.name }} – фото {{ 1 + product.key }}" width="{{ product.width }}" height="{{ product.height }}" {% if product.key != 0 and product.key !=1 %}loading="lazy"{% endif %} />
    <img src="{{ product.thumb_mob }}" class="hidden-lg hidden-md hidden-sm" alt="{{ product.name }} – фото {{ 1 + product.key }}" title="{{ product.name }} – фото {{ 1 + product.key }}" width="162" height="162" {% if product.key != 0 and product.key !=1 %}loading="lazy"{% endif %} />
    {% if product.thumb2 %}
      <img class="thumb2" src="{{ product.thumb2 }}" alt="{{ product.name }} – фото {{ 2 + product.key }}" title="{{ product.name }} – фото {{ 2 + product.key }}" width="{{ product.width }}" height="{{ product.height }}" {% if product.key != 0 and product.key !=1 %}loading="lazy"{% endif %} />
    {% endif %}
  </a>
  {% if product.price and product.special and salebadge_status %}
    <div class="sale-counter id{{ product.product_id }}"></div>
    <span class="badge sale_badge"><i>{{ product.sale_badge }}</i></span>
  {% endif %}
  {% if product.new_label %}
    <span class="badge new_badge"><i>{{ basel_text_new }}</i></span>
  {% endif %}
  {% if ((product.quantity < 1) and (stock_badge_status)) %}
    <span class="badge out_of_stock_badge"><i>{{ basel_text_out_of_stock }}</i></span>
    {% set button_cart = basel_text_out_of_stock %}
    {% else %}
     {% set button_cart = default_button_cart %}
     {% endif %}
     <a class="img-overlay" href="{{ product.href }}"></a>
     <div class="btn-center catalog_hide"><a class="btn btn-light-outline btn-thin" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">{{ button_cart }}</a></div>
     <div class="icons-wrapper">
      <!--<a class="icon is-cart catalog_hide" data-toggle="tooltip" data-placement="{{ tooltip_align }}" data-title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><span class="global-cart"></span></a>-->
      <a class="icon is_wishlist" data-toggle="tooltip" data-placement="{{ tooltip_align }}"  data-title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><span class="icon-heart"></span></a>
      <a class="icon is_compare" onclick="compare.add('{{ product.product_id }}');" data-toggle="tooltip" data-placement="{{ tooltip_align }}" data-title="{{ button_compare }}"><span class="icon-refresh"></span></a>
      <a class="icon is_quickview" onclick="quickview('{{ product.product_id }}');" data-toggle="tooltip" data-placement="{{ tooltip_align }}" data-title="{{ basel_button_quickview }}"><span class="icon-magnifier-add"></span></a>
    </div> <!-- .icons-wrapper -->
  </div><!-- .image ends -->
  <div class="caption">
    <a class="product-name" href="{{ product.href }}">{{ product.name }}</a>
    <div class="rating">
      <span class="rating_stars rating r{{ product.rating }}">
        <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
      </span>
      <a href="{{ product.href }}#tab-review" class="pull-right">{{ product.review }}</a>
    </div>
    <div class="price-wrapper">
      {% if product.price %}
        <div class="price">
          <div class="price-pr">
            <div class="price-title">{{ basel_text_price }}</div>
            {% if product.special %}
              <span class="price-old">{{ product.price }}</span><span class="price-new">{{ product.special }}</span>
            {% else %}
              <span>{{ product.price }}</span>
            {% endif %}
            {% if product.tax %}
              <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
            {% endif %}
          </div>
          <div class="price-btn">
            <div class="br-btnbuy">
             <input  id="out{{ product.product_id }}" data-op="over{{ product.product_id }}" type="number" step="1" min="1" name="quantity" value="1" class="form-control input-quantity input-quantity-product">
             {% if product.options %}
               <a class="category-btn-open btn catalog_hide {% if basel_list_style == '6' %}btn-contrast{% else %}btn-outline{% endif %}" data-prodid="over{{ product.product_id }}"><span class="global-cart"></span>{{ button_cart }}</a>
             {% else %}
               <a class="btn catalog_hide {% if basel_list_style == '6' %}btn-contrast{% else %}btn-outline{% endif %}" {% if button_cart == 'Купить' %}onclick="addCartOption('{{ product.product_id }}');"{% endif %}><span class="global-cart"></span>{{ button_cart }}</a>
             {% endif %}
           </div>
           {% if button_cart == 'Купить' %}
            <div class="br-btnon">
              <a onclick="fastorder_open({{ product.product_id }});" class="btn catalog_hide {% if basel_list_style == '6' %}btn-contrast{% else %}btn-outline{% endif %}" >Быстрый заказ</a>
            </div>
          {% endif %}
        </div>
      </div><!-- .price -->
    {% endif %}
    <p class="description">{% if product.description %}{{ product.description }}{% endif %}</p>
  </div><!-- .price-wrapper -->
  <div class="plain-links">
    <a class="icon is_wishlist link-hover-color" onclick="wishlist.add('{{ product.product_id }}');"><span class="icon-heart"></span> {{ button_wishlist }}</a>
    <a class="icon is_compare link-hover-color" onclick="compare.add('{{ product.product_id }}');"><span class="icon-refresh"></span> {{ button_compare }}</a>
    <a class="icon is_quickview link-hover-color" onclick="quickview('{{ product.product_id }}');"><span class="icon-magnifier-add"></span> {{ basel_button_quickview }}</a>
  </div><!-- .plain-links-->
</div><!-- .caption-->
{% if product.sale_end_date and countdown_status %}
  <script>
  $(function() {
   $(".sale-counter.id{{ product.product_id }}").countdown("{{ product.sale_end_date }}").on('update.countdown', function(event) {
    var $this = $(this).html(event.strftime(''
      + '<div>'
      + '%D<i>{{ basel_text_days }}</i></div><div>'
      + '%H <i>{{ basel_text_hours }}</i></div><div>'
      + '%M <i>{{ basel_text_mins }}</i></div><div>'
      + '%S <i>{{ basel_text_secs }}</i></div></div>'));
  });
 });
  </script>
{% endif %}
<script>
  inp{{ product.product_id }}.addEventListener('input', function () {
      out{{ product.product_id }}.value = this.value;
  });
</script>
<script>
  out{{ product.product_id }}.addEventListener('input', function () {
      inp{{ product.product_id }}.value = this.value;
  });
</script>
</div><!-- .single-product ends -->