<div id="popup-callback" class="wcb-4">
	<div class="popup-heading">
	<i class="{{ callbackpro.icon_callbackpro_header }}"></i>&nbsp;&nbsp;{% if callbackpro.title_callback[lang_id] %}{{ callbackpro.title_callback[lang_id].text }}{% endif %}</div>
	<div class="popup-center">
	{% if callbackpro.config_on_off_contact_right %}
	<div id="callbackpro_contacts" class="callbackpro_contacts">
		<div class="contacts-content">
			<div class="col-xs-6">
				<div class="telephone">
					{% for result in config_telephones %}
							{% if result.phone != '' %}
							<div><a href="tel:{{ result.phone }}">
								{% if result.thumb != '' %}<img src="{{ result.thumb }}" />&nbsp;&nbsp;{% endif %}
								{{result.phone }}
							</a></div>	
							{% endif %}
					{% endfor %}
				</div>
				{% if callbackpro.config_email_1 != '' %}
					<div class="email">
						<div><i class="fa fa-envelope fa-fw"></i>&nbsp;{{ callbackpro.config_email_1 }}</div>					
					</div>					
				{% endif %}
			</div>
			<div class="col-xs-6">
				{% if callbackpro.skype !='' %}
						{% if callbackpro.show_status_skype %}
							{% if skype_status == '1' %}
								<div class="skype">
									<a class="status_skype" href="skype:?chat"><img src="catalog/view/theme/default/image/skype_online.png">&nbsp;{{ callbackpro.skype }}</a>
								</div>
							{% else %}
								<div class="skype">
									<a class="status_skype" href="skype:?chat"><img src="catalog/view/theme/default/image/skype_offline.png">&nbsp;{{ callbackpro.skype }}</a>
								</div>
							{% endif %}
						{% else %}
							<div class="skype">
								<a class="status_skype" href="skype:?chat"><img src="catalog/view/theme/default/image/skype_offline.png">&nbsp;{{ callbackpro.skype }}</a>
							</div>
						{% endif %}
				{% endif %}
				<div class="schedule">		
					{% if callbackpro.title_schedule[lang_id].text %}
						<div class="title-schedule">{{ callbackpro.title_schedule[lang_id].text }}</div>
					{% endif %}
					{% if callbackpro.daily[lang_id].text %}
						<div class="config_daily">
							{{ callbackpro.daily[lang_id].text }}
						</div>
					{% endif %}
					{% if callbackpro.weekend[lang_id].text %}
						<div class="config_weekend">
							{{ callbackpro.weekend[lang_id].text }}
						</div>
					{% endif %}
				</div>					
			</div>
			<div class="col-xs-12">	
				{% if social_icons_contact %}
					<div class="col-sm-12 line_cb"></div>
					{% if callbackpro.config_social_block_title[lang_id].config_social_block_title %}
					<div class="title-social">{{ callbackpro.config_social_block_title[lang_id].config_social_block_title }}</div>
					{% endif %}
					<div class="social">
						{% for result in social_icons_contact %}
							<div class="social-icon"><a href="{{ result.name }}" target="_blank"><img src="{{ result.thumb }}"/></a></div>
						{% endfor %}
					</div>
				{% endif %}
			</div>
		</div>
		<div class="contact-open">
			<a onclick="$('#callbackpro_contacts').toggleClass('callbackpro_contacts_open');"><i class="fa fa-phone"></i>&nbsp;&nbsp;{% if callbackpro.block_name_phone[lang_id].block_name_phone %}{{ callbackpro.block_name_phone[lang_id].block_name_phone }}{% endif %}</a>
		</div>
	</div>
	{% endif %}								
	<form id="callback_data" data-ajax-submit enctype="multipart/form-data" method="post">
	
		{% if main_image_callback != '' %}
		<div class="col-xs-12 hidden-xs">			
			<div class="text-center marb"><img class="circular img-phone-contact" src="{{ main_image_callback }}"/></div>			
		</div>
		{% endif %}
		<div class="col-xs-12">
			{% if callbackpro.config_on_off_fields_firstname_cb %}
				<div class="form-group {% if callbackpro.config_fields_firstname_requared_cb %}sections_block_rquaired {% else %}sections_block{% endif %}">
					<div class="input-group margin-bottom-sm">			
						 <input id="contact-name" class="form-control contact-name" type="text" placeholder="{{ callbackpro.config_placeholder_fields_firstname_cb[lang_id].config_placeholder_fields_firstname_cb }}" value="" name="name">		
						<span class="input-group-addon"><i class="icon-append-1 fa fa-user fa-fw"></i></span>
					</div>
					<div id="error_name_callback" class="error_callback"></div>
				</div>
			{% endif %}
			{% if callbackpro.config_on_off_fields_phone_cb %}
				<div class="form-group {% if callbackpro.config_fields_phone_requared_cb %}sections_block_rquaired {% else %}sections_block{% endif %}">
					<div class="input-group margin-bottom-sm">			
						 <input id="contact-phone" class="form-control contact-phone" type="text" placeholder="{{ callbackpro.config_placeholder_fields_phone_cb[lang_id].config_placeholder_fields_phone_cb }}" value="" name="phone">		
						<span class="input-group-addon"><i class="icon-append-1 fa fa-phone-square fa-fw"></i></span>
					</div>
					<div id="error_phone_callback" class="error_callback"></div>
				</div>
			{% endif %}
			{% if callbackpro.config_on_off_fields_email_cb %}
				<div class="form-group {% if callbackpro.config_fields_email_requared_cb %}sections_block_rquaired {% else %}sections_block{% endif %}">
					<div class="input-group margin-bottom-sm">			
						 <input id="contact-email" class="form-control contact-email" type="text" placeholder="{{ callbackpro.config_placeholder_fields_email_cb[lang_id].config_placeholder_fields_email_cb }}" value="" name="email_buyer">		
						<span class="input-group-addon"><i class="icon-append-1 fa fa-envelope fa-fw"></i></span>
					</div>
					<div id="error_email_callback" class="error_callback"></div>
				</div>
			{% endif %}
			{% if callbackpro.config_on_off_fields_comment_cb %}
				<div class="form-group {% if callbackpro.config_fields_comment_requared_cb %}sections_block_rquaired {% else %}sections_block{% endif %}">
					<div class="input-group margin-bottom-sm">			
						 <input id="contact-comment" class="form-control contact-comment" type="text" placeholder="{{ callbackpro.config_placeholder_fields_comment_cb[lang_id].config_placeholder_fields_comment_cb }}" value="" name="comment_buyer">		
						<span class="input-group-addon"><i class="icon-append-1 fa fa-comment fa-fw"></i></span>
					</div>
					<div id="error_comment_callback" class="error_callback"></div>
				</div>
			<?php } ?>
			{% endif %}
			{% if callbackpro.config_on_off_date_time %}
				<div class="form-group">
					<input type="text" name="time_callback_on" value="" class="form-control start" placeholder="{{ when_you_call_back }}" />
					<input type="hidden" name="time_callback_off" value="" />
				</div>
			{% endif %}
			 {% if call_topic_data %}
			   <div class="marb">
					<select class="form-control" name="topic_callback_send">
						<?php foreach($call_topic_data as $res_call_topic) { ?>
						{% for res_call_topic in call_topic_data %}
							<option value="{{res_call_topic.name }}">{{res_call_topic.name }}</option>
						{% endfor %}
					</select>	
			   </div>
			   {% endif %}
			<input type="hidden" id="callback_url" value="" name="url_site"  />	
		</div>
		
		{% if callbackpro.config_any_text_bottom_before_button[lang_id].config_any_text_bottom_before_button %}
			<div class="anytext-callback marb col-xs-12 text-center">{{callbackpro.config_any_text_bottom_before_button[lang_id].config_any_text_bottom_before_button}}</div>
		{% endif %}
			
			{% if text_agree %}
				<div class="col-xs-12">
				  {{ text_agree }}         
					<input type="checkbox" name="agree" value="1" />
					<div class="error_agree"></div>
				</div>
			{% endif %}
	</form>
	</div>
	<div class="popup-footer">
		<div class="col-xs-12 text-center">
		<button onclick="sendCallback();" type="submit" class="btn-callback ladda-button" data-style="expand-left"><span class="ladda-label">{{ button_send }}</span></button>
		</div>
	</div>
<link rel="stylesheet" type="text/css" href="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.css"/> 
<script type="text/javascript" src="catalog/view/javascript/jquery/datetimepicker/moment/moment.min.js"></script>
<script type="text/javascript" src="catalog/view/javascript/jquery/datetimepicker/bootstrap-datetimepicker.min.js"></script>
<script type="text/javascript">
$('.start').datetimepicker({
	pickDate: true,
	minDate : moment(),
	pickTime: true
});
$(document).ready(function() {
	var ContactouterHeight = $('#callbackpro_contacts').outerHeight()-6;
	$(function(){$('#callbackpro_contacts').css({'top':-ContactouterHeight});});
	{% if callbackpro.config_mask_phone_number_cb != '' %}
		$("#contact-phone").mask('{{ callbackpro.config_mask_phone_number_cb }}');
	{% endif %}
});
</script>
</div>