<div class="cat-recommendations">
	<h3>{{ heading_title }}</h3>
	<div class="row">
		
		<div class="col-sm-12">
			<div class="box-content">
				<div class="cat-recommendations-tabs">
					<ul>
						{% for key, category in category_list %}
						<li class="cat-recommendations-tab {% if key == 0 %}active{% endif %}" data-cat-recommendations="{{ key }}">
							<a href="#">{{ category.name }}</a>
						</li>
						{% endfor %}
					</ul>
				</div>
				
				<div class="cat-recommendations-product">
					<div class="swiper-viewport-cr">
						{% for key, category in category_list %}
						<div id="carousel{{ module }}_car_reccommend_{{ key }}" class="swiper-container box-tab-content {% if key == 0 %}active{% endif %}" data-cat-recommendations="{{ key }}">
							
							<div class="swiper-wrapper">
								{% for product in category.products %}
								<div class="item swiper-slide product-layout">
									<div class="product-thumb transition">
										<div class="image"><a href="{{ product.href }}"><img src="{{ product.thumb }}" alt="{{ product.name }}" title="{{ product.name }}" class="img-responsive" /></a></div>
										<div class="caption">
											<h4><a href="{{ product.href }}">{{ product.name }}</a></h4>
											<p>{{ product.description }}</p>
											{% if product.rating %}
											<div class="rating">
												{% for i in 5 %}
												{% if product.rating < i %}
												<span class="fa fa-stack"><i class="fa fa-star-o fa-stack-2x"></i></span>
												{% else %}
												<span class="fa fa-stack"><i class="fa fa-star fa-stack-2x"></i><i class="fa fa-star-o fa-stack-2x"></i></span>
												{% endif %}
												{% endfor %}
											</div>
											{% endif %}
											{% if product.price %}
											<p class="price">
												{% if not product.special %}
												{{ product.price }}
												{% else %}
												<span class="price-new">{{ product.special }}</span> <span class="price-old">{{ product.price }}</span>
												{% endif %}
												{% if product.tax %}
												<span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
												{% endif %}
											</p>
											{% endif %}
										</div>
										<div class="button-group">
											<button type="button" onclick="cart.add('{{ product.product_id }}');"><i class="fa fa-shopping-cart"></i> <span class="hidden-xs hidden-sm hidden-md">{{ button_cart }}</span></button>
											<button type="button" data-toggle="tooltip" title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><i class="fa fa-heart"></i></button>
											<button type="button" data-toggle="tooltip" title="{{ button_compare }}" onclick="compare.add('{{ product.product_id }}');"><i class="fa fa-exchange"></i></button>
										</div>
									</div>
								</div>
								{% endfor %}
							</div>
							
							<div class="swiper-pager">
								<div class="swiper-button-next-cr"></div>
								<div class="swiper-button-prev-cr"></div>
							</div>
							
						</div>
						
						{% endfor %}
						
					</div>
				</div>
			</div>
		</div>
		
	</div>
	
	<script type="text/javascript"><!--
		$('.cat-recommendations-product .swiper-container').each(function(){
			$(this).swiper({
				mode: 'horizontal',
				slidesPerView: 3,
				pagination: false,
				nextButton: $(this).find('.swiper-button-next-cr'),
				prevButton: $(this).find('.swiper-button-prev-cr'),
				autoplay: false,
				loop: false,
				breakpoints: {
					1199: {
						slidesPerView: 3
					},
					992: {
						slidesPerView: 2
					},
					767: {
						slidesPerView: 1
					}
				}
			});
		});
	--></script>
	
</div>

