
   <div class="widget" style="margin-bottom:60px">
   <div class="instagram_wrapper">
    <div class="instagram_block">
      {% for key,banner in banners %}
      {% if (key < 4) %}
      <div class="col-md-4 col-xs-6">
        <div class="instagram_title floating_title text-center">
          <div class="widget-title">
        <a href="{{ banner.link }}" target="_blank"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>
      </div>
    </div>
      </div>
      {% endif %}
      {% endfor %}
      <div class="col-md-4 hidden-sm">
      <div class="instagram_title floating_title text-center">
      <div class="widget-title">
        <p class="pre-line">Мы в  Instagram</p>     
        <p class="main-title"><a href="https://www.instagram.com/skyshar.com.ua/" target="_blank"><span>@skyshar.com.ua</span></a></p>
        <p class="widget-title-separator"><i class="icon-line-cross"></i></p>
                <p class="sub-line"><span>ВОЗДУШНЫЕ ШАРИКИ КИЕВ</span></p>
        </div>
      </div>
    </div>
        {% for key,banner in banners %}
        {% if (key > 3) %}
        <div class="col-md-4 col-xs-6">
          <div class="instagram_title floating_title text-center">
            <div class="widget-title">
          <a href="{{ banner.link }}" target="_blank"><img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" /></a>
        </div>
      </div>
    </div>
        {% endif %}
        {% endfor %}        
    </div>
  </div>
  </div>
