<div class="widget side-widget" style="margin-bottom:60px">
  <div class="widget-title">
    <p class="main-title"><a href="https://www.instagram.com/skyshar.com.ua/" target="_blank"><span>Мы в instagram</span></a></p>
    <p class="widget-title-separator"><i class="icon-line-cross"></i></p>
  </div>
  <div class="instagram_wrapper">
  <div class="instagram_block">
    {% for banner in banners %}
      <div class="instagram_title floating_title text-center">
        <div class="widget-title">
          <a href="{{ banner.link }}" target="_blank"><img src="{{ banner.image }}" alt="{{ banner.title }}"  width="100" height="100" loading="lazy" class="img-responsive" /></a>
        </div>
      </div>
    {% endfor %}
  </div>
  </div>
</div>
