<div class="swiper-viewport">
  <div id="slideshow{{ module }}" class="swiper-container">
    <div class="swiper-wrapper"> {% for key,banner in banners %}
      <div class="swiper-slide text-center hidden-xs">{% if banner.link %}<a href="{{ banner.link }}">
        <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" width="{{ banner.width }}" height="{{ banner.height }}" {% if key != 0 %}loading="lazy"{% endif %} class="img-responsive" /></a>{% else %}
        <img src="{{ banner.image }}" alt="{{ banner.title }}" class="img-responsive" width="{{ banner.width }}" height="{{ banner.height }}" {% if key != 0 %}loading="lazy"{% endif %} class="img-responsive" />{% endif %}</div>
      <div class="swiper-slide text-center hidden-sm hidden-md hidden-lg">{% if banner.link %}<a href="{{ banner.link }}">
        <img src="{{ banner.image_xs }}" alt="{{ banner.title }}" class="img-responsive" width="{{ banner.width_xs }}" height="{{ banner.height_xs }}" {% if key != 0 %}loading="lazy"{% endif %} class="img-responsive" /></a>{% else %}
        <img src="{{ banner.image_xs }}" alt="{{ banner.title }}" class="img-responsive" width="{{ banner.width_xs }}" height="{{ banner.height_xs }}" {% if key != 0 %}loading="lazy"{% endif %} class="img-responsive" />{% endif %}</div>
      {% endfor %} </div>
  </div>
  <div class="swiper-pagination slideshow{{ module }}"></div>
  <div class="swiper-pager">
    <div class="swiper-button-next"></div>
    <div class="swiper-button-prev"></div>
  </div>
</div>
<script>
$('#slideshow{{ module }}').swiper({
	mode: 'horizontal',
	slidesPerView: 1,
	pagination: '.slideshow{{ module }}',
	paginationClickable: true,
	nextButton: '.swiper-button-next',
    prevButton: '.swiper-button-prev',
    spaceBetween: 30,
	autoplay: 2500,
    autoplayDisableOnInteraction: true,
	loop: true
});
</script>