{{ header }}
<script type="application/ld+json">
{ "@context" : "https://schema.org",
  "@type" : "Organization",
  "url" : "https://skyshar.com.ua/",
  "logo" : "https://skyshar.com.ua/image/catalog/logo.png",
  "description": "Воздушные шарики в Киеве",
  "address" : {
      "@type" : "PostalAddress",
      "streetAddress" : "бульвар Дружбы Народов 18/7",
      "addressLocality" : "Киев",
      "postalCode" : "04176",
	  "addressCountry" : "Украина" },
"telephone": "+38 (066) 6521828",
"email": "info@skyshar.com.ua"
}
</script>
{% if basel_map_lat and basel_map_lon and basel_map_style == "full_width" %}
<div id="gmap" class="map-full-width">
    <div class="address-holder col-sm-5 col-md-4 col-lg-3">
    <h3 class="contrast-heading">{{ store }}</h3>
    <p>{{ address }}</p>
    <a class="uline_link to_form">{{ heading_title }}</a>
    </div>
</div>
{% endif %}
    
    <div class="container">
<script type="application/ld+json">
{ "@context": "https://schema.org",
 "@type": "BreadcrumbList",
 "itemListElement":
 [
    {% for key, breadcrumb in breadcrumbs %}
  {"@type": "ListItem",
   "position": {{ key+1 }},
   "item":
   { "@id": "{{ breadcrumb.href }}",
    "name": "{{ breadcrumb.text }}"
    }
  } {% if key+1 < breadcrumbs|length %}, {% endif %}
  {% endfor %}
 ]
}
</script>
    
        <ul class="breadcrumb">
        {% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
        {% endfor %}
        </ul>
  
  <div class="row">
  
    {% if basel_map_lat and basel_map_lon and basel_map_style == "inline" %}
    <div id="gmap" class="col-sm-12 map-inline"></div>
    {% endif %}
  
  {{ column_left }}
    
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-md-9 col-sm-8' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    
    <div id="content" class="{{ class }}">
    {{ content_top }}
      <h1 id="page-title">{{ heading_title }}</h1>
      
      <div class="row">
        
      <div class="col-sm-6 left-side">
       <h3 class="lined-title lg margin-b30"><span><b>{{ heading_title }}</b></span></h3>
       
       {% if image %}
       <div class="contact-image margin-b25"><img src="{{ image }}" alt="{{ store }}" title="{{ store }}" /></div>
       {% endif %}
       
           <div class="grid-holder margin-b20">

           <div class="item">
           <p class="contact-detail">
           <i class="icon-cursor icon"></i>
           <a rel="nofollow" data-toggle="modal" data-target="#exampleModal">г. Киев, бульвар Дружбы Народов 18/7</a><br>(вход со двора)
            {% if geocode %}
            <a href="https://maps.google.com/maps?q={{ geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
            {% endif %}
           </p>
           </div>
           
           <div class="item">
           <p class="contact-detail">
           <i class="icon-phone icon"></i>
           <!-- <a title="Позвонить" href="tel:380443611481">(044) 361-14-81</a><br> -->
		   <a title="Позвонить" href="tel:380666521828">(066) 652-18-28</a><br>
		   <a title="Позвонить" href="tel:380633470929">(063) 347-09-29</a><br>
           </p>
           </div>
		   
		   <div class="item">
           <p class="contact-detail viber">
           <i class="fa fa-viber"></i>
		   <a title="Позвонить" href="tel:380678125995">(067) 812-59-95</a><br>
		   <strong><a title="Viber" href="viber://chat?number=+380678125995">Viber</a></strong>
           </p>
           </div>
		   
		   <div class="item">
           <p class="contact-detail">
           <i class="icon-envelope icon"></i>
           <a title="Позвонить" href="mailto:{{ e_mail }}">{{ e_mail }}</a><br>
           </p>
           </div>
		   
           </div>
           
        {% if comment %}
        <div class="margin-b45">
        <h3 class="lined-title lg margin-b20"><span><b>{{ text_comment }}</b></span></h3>
        {{ comment }}
        </div>
        {% endif %}        
        
        {% if locations %}
      <h3 class="lined-title lg margin-b15"><span><b>{{ text_store }}</b></span></h3>
      <div class="panel-group" id="accordion">
        {% for locations in location %}
        <div class="panel panel-default">
          <div class="panel-heading">
            <h4 class="panel-title"><a href="#collapse-location{{ location.location_id }}" class="accordion-toggle" data-toggle="collapse" data-parent="#accordion">{{ location.name }} <i class="fa fa-caret-down"></i></a></h4>
          </div>
          <div class="panel-collapse collapse" id="collapse-location{{ location.location_id }}">
            <div class="panel-body">
              
              
             
                
                {% if location.image %}
                <div class="contact-image margin-b25">
                <img src="{{ location.image }}" alt="{{ location.name }}" title="{{ location.name }}" />
                </div>
                {% endif %}
                
                {% if location.comment %}
                <b>{{ text_comment }}</b><br />
                {{ location.comment }}<br /><br /><br />
                {% endif %}
                
                <div class="grid-holder margin-b20">

                <div class="item">
                <p class="contact-detail">
                <i class="icon-cursor icon"></i>
                {{ location.name }}<br />
                {{ location.address }}
                {% if location.geocode %}
                <br /><a href="https://maps.google.com/maps?q={{ location.geocode|url_encode }}&hl={{ geocode_hl }}&t=m&z=15" target="_blank" class="btn btn-info"><i class="fa fa-map-marker"></i> {{ button_map }}</a>
                {% endif %}
                </p>
                </div>
                
                <div class="item">
                <p class="contact-detail">
                <i class="icon-phone icon"></i>
                {{ location.telephone }}
                {% if location.fax %}
                <br />{{ text_fax }}: {{ location.fax }}
                {% endif %}
                </p>
                </div>
                
                {% if location.open %}
                <div class="item">
                <p class="contact-detail">
                <i class="icon-clock icon"></i>
                  {{ location.open }}
                </p>
                </div>
                {% endif %}
                
                
              </div>

            </div>
          </div>
        </div>
        {% endfor %}
      </div>
      {% endif %}
      
      
       
       
      </div>
      
      <div class="col-sm-6 right-side">
<h3 class="lined-title lg margin-b30"><span><b>График работы</b></span></h3>
<div class="grid-holder">
           {% if open %}
           <div class="item">
           <p class="contact-detail">
           <i class="icon-clock icon"></i>
           {{ open }}
           </p>
           </div>
           {% endif %}
		   </div>
      </div> <!-- .col-sm-6 ends -->
      
      </div> <!-- .row ends -->
      
      
      
      
      <div class="cont-map"><iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d10169.57587562678!2d30.540052!3d50.415131!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf6a862f8661%3A0x8536ceed868144e4!2z0LHRg9C7LiDQlNGA0YPQttCx0Ysg0J3QsNGA0L7QtNC-0LIsIDE4LzcsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1570373154218!5m2!1sru!2sua" width="1170" height="300" frameborder="0" style="border:0;" allowfullscreen=""></iframe></div>
      {{ content_bottom }}</div>
    {{ column_right }}</div>
</div>

{% if basel_map_style %}
<script>
	$(document).ready(function() {
		new Maplace({
			locations: [
				{
					lat: {{ basel_map_lat }},
					lon: {{ basel_map_lon }},
				}
			],
			controls_on_map: true,
			start: 1,
			map_options: {
				zoom: 15,
				scrollwheel: false}
		}).Load();
		
		{% if basel_map_lat and basel_map_lon and basel_map_style == "full_width" %}
		$('body').addClass('full-width-map');
		{% endif %}
		 
	});
</script>
{% endif %}


<script>
	$(document).ready(function() {
$(".to_form").click(function() {
    $('html, body').animate({
        scrollTop: ($(".form-vertical").offset().top - 200)
    }, 1000);
});
});
</script>

{{ footer }}