{{ header }}
<div class="container">
<script type="application/ld+json">
{ "@context": "https://schema.org",
 "@type": "BreadcrumbList",
 "itemListElement":
 [
    {% for key, breadcrumb in breadcrumbs %}
  {"@type": "ListItem",
   "position": {{ key+1 }},
   "item":
   { "@id": "{{ breadcrumb.href }}",
    "name": "{{ breadcrumb.text }}"
    }
  } {% if key+1 < breadcrumbs|length %}, {% endif %}
  {% endfor %}
 ]
}
</script>
  <ul class="breadcrumb">
    {% for breadcrumb in breadcrumbs %}
    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
    {% endfor %}
  </ul>
  <div class="row">{{ column_left }}
    {% if column_left and column_right %}
    {% set class = 'col-sm-6' %}
    {% elseif column_left or column_right %}
    {% set class = 'col-md-9 col-sm-8' %}
    {% else %}
    {% set class = 'col-sm-12' %}
    {% endif %}
    <div id="content" class="{{ class }}">
    {{ content_top }}
      <h1 id="page-title">{{ heading_title }}</h1>
      {{ description }}
      {{ content_bottom }}
     </div>
    {{ column_right }}
  </div>
</div>
{{ footer }}