	<div class="table">
        <div class="table-cell w100 search-cell {{ basel_search_scheme }}" style="padding-left: 0px; padding-bottom: 10px; z-index: 0;">
         {{ basel_search }}
        </div>
    </div>
<div class="pos_content_top">
<?php foreach ($modules as $module) { ?>
<?php echo $module; ?>
<?php } ?>
</div>