	<div class="table header-wrapper search-block" style="z-index: 0;">
	    <span class="close-sr-mob">×</span>
        <div class="table-cell w100 search-cell {{ basel_search_scheme }}" style="padding-left: 0px; padding-bottom: 10px;">
         {{ basel_search }}
        </div>
    </div>

{% if modules %}
<div class="pos_content_top">
<div class="inner">
{% for module in modules %}
{{ module }}
{% endfor %}
</div>
</div>
{% endif %}
<script>
$(".mob-search").click(function() {
  $(".search-block").show();
  $('.table.header-wrapper.search-block').addClass('search-show');
});
$(".close-sr-mob").click(function() {
  $(".search-block").hide();
  $('.table.header-wrapper.search-block').removeClass('search-show');
});
</script>