<div class="container">
{{ position_bottom_half }}
</div>
<div class="container">
{{ position_bottom }}
</div>
<div id="footer">
<script>
$(".qu-hover").hover(function() {
      $(this).toggleClass( "active" );
});
</script>
<div class="container">
<div class="col-sm-4">
    <div class="ft-logo">
	    {{ footer_block_1 }}
	</div>
	<div class="ft-copy">
	    {{ basel_copyright }}
	</div>
</div>
<div class="col-sm-4">
    <div class="col-sm-6">
	    <p class="h5">{{ text_information }}</p>
        <ul class="list-unstyled">
          {% for information in informations %}
          <li><a href="{{ information.href }}">{{ information.title }}</a></li>
          {% endfor %}
          <li><a href="{{ contact }}">{{ text_contact }}</a></li>
        </ul>
	</div>
	<div class="col-sm-6">
	    <p class="h5">{{ text_account }}</p>
        <ul class="list-unstyled">
          <li><a href="{{ account }}">{{ text_account }}</a></li>
          <li><a href="{{ order }}">{{ text_order }}</a></li>
          <li class="is_wishlist"><a href="{{ wishlist }}">{{ text_wishlist }}</a></li>
          <li><a href="{{ newsletter }}">{{ text_newsletter }}</a></li>
        </ul>
	</div>
</div>
<div class="col-sm-4">
{% if footer_block_title is defined %}
<p class="h5">{{ footer_block_title }}</p>
{% endif %}
{% if footer_block_2 and footer_block_2 != '<p><br></p>' %}
<div class="custom_block">{{ footer_block_2 }}</div>
{% endif %}
{% if footer_infoline_1 is defined %}
<p class="infoline">{{ footer_infoline_1 }}</p>
{% endif %}
{% if footer_infoline_2 is defined %}
<p class="infoline">{{ footer_infoline_2 }}</p>
{% endif %}
{% if footer_infoline_3 is defined %}
<p class="infoline">{{ footer_infoline_3 }}</p>
{% endif %}
{% if payment_img %}
<img class="payment_img" src="{{ payment_img }}" alt="" />
{% endif %}
</div>
</div>
</div>
<link rel="preload" as="style" href="catalog/view/javascript/font-awesome/css/font-awesome.min.css?cs2v=1.5"/>
<link href="catalog/view/javascript/font-awesome/css/font-awesome.min.css?cs2v=1.5" rel="stylesheet" />
<link rel="preload" as="style" href="catalog/view/theme/basel/js/lightgallery/css/lightgallery.css?cs2v=1.5"/>
<link href="catalog/view/theme/basel/js/lightgallery/css/lightgallery.css?cs2v=1.5" rel="stylesheet" />

<link rel="preload" as="script" href="catalog/view/theme/basel/js/jquery.matchHeight.min.js?cs2v=1.5"/>
<script src="catalog/view/theme/basel/js/jquery.matchHeight.min.js?cs2v=1.5"></script>
<link rel="preload" as="script" href="catalog/view/theme/basel/js/countdown.js?cs2v=1.5"/>
<script src="catalog/view/theme/basel/js/countdown.js?cs2v=1.5"></script>
<link rel="preload" as="script" href="catalog/view/theme/basel/js/live_search.js?cs2v=1.5"/>
<script src="catalog/view/theme/basel/js/live_search.js?cs2v=1.5"></script>
<link rel="preload" as="script" href="catalog/view/theme/basel/js/featherlight.js?cs2v=1.5"/>
<script src="catalog/view/theme/basel/js/featherlight.js?cs2v=1.5"></script>
{% if view_popup %}
<!-- Popup -->
<script>
$(document).ready(function() {
if ($(window).width() > {{ popup_width_limit }}) {
setTimeout(function() {
$.featherlight({ajax: 'index.php?route=extension/basel/basel_features/basel_popup', variant:'popup-wrapper'});
}, {{ popup_delay }});
}
});
</script>
{% endif %}
{% if sticky_columns %}
<!-- Sticky columns -->
<script>
if ($(window).width() > 767) {
$('#column-left, #column-right').theiaStickySidebar({containerSelector:$(this).closest('.row'),additionalMarginTop:{{ sticky_columns_offset }}});
}
</script>
{% endif %}
{% if view_cookie_bar %}
<!-- Cookie bar -->
<div class="basel_cookie_bar">
<div class="table">
<div class="table-cell w100">{{ basel_cookie_info }}</div>
<div class="table-cell button-cell">
<a class="btn btn-tiny btn-light-outline" onclick="$(this).parent().parent().parent().fadeOut(400);">{{ basel_cookie_btn_close }}</a>
{% if href_more_info is defined %}
<a class="more-info anim-underline light" href="{{ href_more_info }}">{{ basel_cookie_btn_more_info }}</a>
{% endif %}
</div>
</div>
</div>
{% endif %}
<!--
OpenCart is open source software and you are free to remove the powered by OpenCart if you want, but its generally accepted practise to make a small donation.
Please donate via PayPal to donate@opencart.com
BASEL VERSION {{ basel_version }} - OPENCART VERSION 3 ({{ VERSION }}) 
//-->
</div><!-- .outer-container ends -->
<a class="scroll-to-top primary-bg-color hidden-sm hidden-xs" onclick="$('html, body').animate({scrollTop:0});"><i class="icon-arrow-right"></i></a>
<div id="featherlight-holder"></div>
</body></html>