<!DOCTYPE html>
<!--[if IE]><![endif]-->
<!--[if IE 8 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie8"><![endif]-->
<!--[if IE 9 ]><html dir="{{ direction }}" lang="{{ lang }}" class="ie9"><![endif]-->
<!--[if (gt IE 9)|!(IE)]><!-->
<html dir="{{ direction }}" lang="{{ lang }}">
<!--<![endif]-->
<head>
<meta charset="UTF-8" />
<meta name="viewport" content="width=device-width, initial-scale=1">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>{{ title }}</title>
<base href="{{ base }}" />
{% if description %}<meta name="description" content="{{ description }}" />{% endif %}
{% if keywords %}<meta name="keywords" content= "{{ keywords }}" />{% endif %}
  <!-- Global site tag (gtag.js) - Google Analytics
  <script>window.dataLayer = window.dataLayer || [];</script>
   End gtag -->
<link rel="preload" as="script" href="catalog/view/javascript/jquery/jquery-2.1.1.min.js?cs2v=1.5"/>
<script src="catalog/view/javascript/jquery/jquery-2.1.1.min.js?cs2v=1.5"></script>

<link rel="preload" as="script" href="catalog/view/javascript/bootstrap/js/bootstrap.min.js?cs2v=1.5"/>
<script src="catalog/view/javascript/bootstrap/js/bootstrap.min.js?cs2v=1.5"></script>

<link rel="preload" as="script" href="catalog/view/theme/basel/js/slick.min.js?cs2v=1.5"/>
<script src="catalog/view/theme/basel/js/slick.min.js?cs2v=1.5"></script>

<link rel="preload" as="script" href="catalog/view/theme/basel/js/basel_common.js?cs2v=1.5"/>
<script src="catalog/view/theme/basel/js/basel_common.js?cs2v=1.5"></script>


<link rel="preload" as="style" href="catalog/view/javascript/bootstrap/css/bootstrap.min.css?cs2v=1.5"/>
<link rel="stylesheet" href="catalog/view/javascript/bootstrap/css/bootstrap.min.css?cs2v=1.5"/>

<!-- Main stylesheet -->
<link rel="preload" as="style" href="catalog/view/theme/basel/stylesheet/stylesheet.css?cs2v=2.5"/>
<link rel="stylesheet" href="catalog/view/theme/basel/stylesheet/stylesheet.css?cs2v=2.5">
<!-- Mandatory Theme Settings CSS -->
<style id="basel-mandatory-css">{{ basel_mandatory_css }}</style>
<!-- Plugin Stylesheet(s) -->
{% for style in styles %}
<link rel="preload" as="style" href="{{ style.href }}?cs2v=1.5"/>
<link rel="{{ style.rel }}" href="{{ style.href }}?cs2v=1.5"/>
{% endfor %}
<style>
  @import url(https://fonts.googleapis.com/css?family=Open+Sans:400italic,600italic,700italic,400,600,700&subset=latin,cyrillic-ext);
  @import url(https://fonts.googleapis.com/css?family=Cuprum&subset=latin,cyrillic);
  @import url(https://fonts.googleapis.com/css?family=Marmelad&subset=latin,cyrillic);
</style>
{% if direction == 'rtl' %}
<link href="catalog/view/theme/basel/stylesheet/rtl.css" rel="stylesheet">
{% endif %}
<!-- Pluing scripts(s) -->
{% for script in scripts %}
<link rel="preload" as="script" href="{{ script }}?cs2v=1.5"/>
<script src="{{ script }}?cs2v=1.5"></script>
{% endfor %}
<!-- Page specific meta information -->
{% for link in links %}
{% if link.rel == 'image' %}
<meta property="og:image" content="{{ link.href }}" />
{% else %}
<link href="{{ link.href }}" rel="{{ link.rel }}" />
{% endif %}
{% endfor %}
<!-- Analytic tools -->
<meta name="twitter:card" content="summary" />
{% if description %}<meta name="twitter:description" content="{{ description }}" />{% endif %}
<meta name="twitter:title" content="{{ title }}" />
<meta name="twitter:image" content="https://skyshar.com.ua/image/catalog/logo.png" />

<meta property="og:locale" content="ru_RU" />
<meta property="og:type" content="article" />
<meta property="og:title" content="{{ title }}" />
{% if description %}<meta property="og:description" content="{{ description }}" />{% endif %}
<meta property="og:url" content="{{ base }}" />
<meta property="og:image" content="https://skyshar.com.ua/image/catalog/logo.png" />
{% for analytic in analytics %}
{{ analytic }}
{% endfor %}
<meta name="google-site-verification" content="vH_S39M_QgDQsm5PIsfxJH70Mh6ssjNTEwTyMNWh1QY" />
{% if basel_styles_status %}
<!-- Custom Color Scheme -->
<style id="basel-color-scheme">{{ basel_styles_cache }}</style>
{% endif %}
{% if basel_typo_status %}
<!-- Custom Fonts -->
<style id="basel-fonts">{{ basel_fonts_cache }}</style>
{% endif %}
{% if basel_custom_css_status %}
<!-- Custom CSS -->
<style id="basel-custom-css">
{{ basel_custom_css }}
</style>
{% endif %}
{% if basel_custom_js_status %}
<!-- Custom Javascript -->
<script>
{{ basel_custom_js }}
</script>
{% endif %}

{% if order_id %}
<!-- Google Tag Manager event.purchase -->
<script>
  dataLayer = [{
    'transactionId': '{{ order_id }}', 
    'transactionAffiliation': 'skyshar.com.ua',
    'transactionTotal': {{ total }},
    'transactionProducts': [
    {% for i,product in products %}
      {
        'sku': '{{ product.model }}', 
        'name': '{{ product.name }}',
        'price': {{ product.price_clean }},
        'quantity': {{ product.quantity }}
      }{% if (i + 1 < (products)|length) %},{% else %}{% endif %}
    {% endfor %}  
    ],
    'event': 'trackTrans'
  }];
  console.log(dataLayer);
</script>
<!-- Google Tag Manager event.purchase -->
{% endif %}
<!-- Google Tag Manager -->
<script>
  (function(w,d,s,l,i){w[l]=w[l]||[];w[l].push({'gtm.start':
  new Date().getTime(),event:'gtm.js'});var f=d.getElementsByTagName(s)[0],
  j=d.createElement(s),dl=l!='dataLayer'?'&l='+l:'';j.async=true;j.src=
  'https://www.googletagmanager.com/gtm.js?id='+i+dl;f.parentNode.insertBefore(j,f);
  })(window,document,'script','dataLayer','GTM-K8XLN66');
</script>
<!-- End Google Tag Manager -->  

<script>
  $(document).ready(function() {
    $('img.lazy-load').lazyload({
      effect: "fadeIn",
      effectspeed: 500,
      threshold: 100,
      placeholder: "catalog/view/javascript/lazyload/loading.gif"
    });
  });
</script>

</head>
<body class="{{ class }}{{ basel_body_class }}">
<!-- Google Tag Manager (noscript) -->
<noscript>
  <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-K8XLN66"
  height="0" width="0" style="display:none;visibility:hidden"></iframe>
</noscript>
<!-- End Google Tag Manager (noscript) -->  
<script type="application/ld+json">
//
   {
      "@context": "http://schema.org",
      "@type": "WebSite",
      "url": "{{ base }}",
        "potentialAction": {
        "@type": "SearchAction",
        "target": "{{ base }}index.php?route=product/search&search={query}",
        "query-input": "required name=query"
        }
      }
// ]]>
</script>

<script type="application/ld+json">
{
  "@context": "http://schema.org",
  "@type": "Store",
  "name": "{{ title_js }}",
  {% if description %}
  "description": "{{ description_js }}",
  {% endif %}
  "image" : "{{ base }}/catalog/view/theme/basel/image/adres.jpg",
  "priceRange" : "2-10000UAH",
  "openingHours": "Пн-Пт 9:00-19:00, Сб 9:00-17:00, Вс 9:00-15:00",
  "telephone": "{{ telephone }}",
  "address":
  {
  "@type": "PostalAddress",
  "streetAddress": "бульвар Дружбы Народов 18/7",
  "addressLocality": "Киев",
  "addressCountry": "Украина"
  }
}
</script>

{% include 'basel/template/common/mobile-nav.twig' %}
<div class="outer-container main-wrapper">
{% if notification_status %}
<div class="top_notificaiton">
  <div class="container{% if top_promo_close %} has-close{% endif %} {{ top_promo_width }} {{ top_promo_align }}">
    <div class="table">
    <div class="table-cell w100"><div class="ellipsis-wrap">{{ top_promo_text }}</div></div>
    {% if top_promo_close %}
    <div class="table-cell text-right">
    <a onClick="addCookie('basel_top_promo', 1, 30);$(this).closest('.top_notificaiton').slideUp();" class="top_promo_close">&times;</a>
    </div>
    {% endif %}
    </div>
  </div>
</div>
{% endif %}
{% include 'basel/template/common/headers/' ~ basel_header ~ '.twig' %}
<!-- breadcrumb -->
<div class="breadcrumb-holder">
<div class="container">
<span id="title-holder">&nbsp;</span>
<div class="links-holder">
<a class="basel-back-btn" onClick="history.go(-1); return false;"><i></i></a><span>&nbsp;</span>
</div>
</div>
</div>
<div class="container">
{{ position_top }}
</div>