<!-- Hi-Optimizer by sitecreator (c) 2019-2020 https://sitecreator.ru yandex.metrika -->
<script data-not_optimize="true">
  (function () {
    var startT = new Date().getTime();
    var tmr = setInterval(function() {
      var t = new Date().getTime() - startT;
      if(document.readyState === "complete" || t > 15000) {
        clearInterval(tmr);
        console.log("window.onload (yandex.metrika) " + t);
        setTimeout(function () {
          (function(m,e,t,r,i,k,a){m[i]=m[i]||function(){(m[i].a=m[i].a||[]).push(arguments)};
            m[i].l=1*new Date();k=e.createElement(t);a=e.getElementsByTagName(t)[0];k.async=1;k.src=r;a.parentNode.insertBefore(k,a);
            k.onload = function() {console.log("metrika loaded " + ((new Date()).getTime() - startT))};})
          (window, document, "script", "https://mc.yandex.ru/metrika/tag.js", "ym");
          ym(_ym_id_, "init", {clickmap:true, trackLinks:true, accurateTrackBounce:true, _webvisor_:true, _ecommerce_:true});
        }, _ym_delay_);
      }
    }, 350);
  })();
</script>
<noscript><div><img src="https://mc.yandex.ru/watch/_ym_id_" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
