.cat-recommendations{
	margin:30px 0;
}
.cat-recommendations > h3{
	margin-bottom:15px;
}
.cat-recommendations .box-content { 
	overflow: hidden;
}
.cat-recommendations .swiper-viewport-cr {
	z-index: 1;
	width: 100%;
	position: relative;
	overflow: hidden;
}
.cat-recommendations .swiper-button-prev-cr,
.cat-recommendations .swiper-button-next-cr {
	color: rgba(0, 0, 0, 0.8);
	text-shadow: 1px 1px 0 rgba(255, 255, 255, 0.3);
	transition: all .3s ease;
	z-index: 2;
 	background-image: none;
    position: absolute;
    top: 50%;
    width: 27px;
    height: 44px;
    margin-top: -22px;
    z-index: 10;
    cursor: pointer;
    -moz-background-size: 27px 44px;
    -webkit-background-size: 27px 44px;
    background-size: 27px 44px;
    background-position: center;
    background-repeat: no-repeat;
}
.cat-recommendations .swiper-viewport-cr .swiper-button-prev-cr {
	opacity: 0.7;
	left: 10px;
    right: auto;
}
.cat-recommendations .swiper-viewport-cr .swiper-button-next-cr {
	opacity: 0.7;
	right: 10px;
	left:auto;
}
.cat-recommendations .swiper-button-prev-cr:before {
width: 40px;
height: 40px;
font-family: FontAwesome;
content: "\f053"; 
color: rgba(0,0,0,0.8);
font-size: 40px;
}
.cat-recommendations .swiper-button-next-cr:before {
	width: 40px;
    height: 40px;
	font-family: FontAwesome;
	content: "\f054"; 
	color: rgba(0,0,0,0.8);
	font-size: 40px;
}
.cat-recommendations .swiper-button-next-cr.swiper-button-disabled, 
.cat-recommendations .swiper-button-prev-cr.swiper-button-disabled {
    opacity: 0;
    cursor: pointer;
    pointer-events: auto;
}
.cat-recommendations  .box-content {
    border: 4px solid #fff;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -o-border-radius: 4px;
    border-radius: 4px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -moz-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    -o-box-shadow: 0 1px 4px rgba(0,0,0,.2);
    box-shadow: 0 1px 4px rgba(0,0,0,.2);
    padding: 15px;
	padding-right:0;
	padding-bottom:0;
}
.cat-recommendations .cat-recommendations-tabs{
    float:left;
	width:20%;
}
.cat-recommendations .cat-recommendations-tabs ul{
	margin:0;
	padding:0;
	display:block;
}
.cat-recommendations .cat-recommendations-tabs ul li{
    display: block;
    padding: 5px 0;
    padding-left: 13px;
    border: 1px solid #e4e4e4;
    position: relative;
    background: #f3f3f3;
    margin-bottom: 5px;
}
.cat-recommendations .cat-recommendations-tabs ul li:before {
    content: '';
    width: 5px;
    height: 100%;
    background: #1ca9e7;
    position: absolute;
    left: 0;
    top: 0;
    -webkit-transition: all .17s ease-in-out;
    -o-transition: all .17s ease-in-out;
    transition: all .17s ease-in-out;
    -webkit-transform: scale(0);
    -ms-transform: scale(0);
    -o-transform: scale(0);
    transform: scale(0);
}
.cat-recommendations .cat-recommendations-tabs ul li.active:before {
    -webkit-transform: scale(1);
    -ms-transform: scale(1);
    -o-transform: scale(1);
    transform: scale(1);
}
.cat-recommendations .cat-recommendations-tabs ul li:hover{
	cursor:pointer;
}
.cat-recommendations .cat-recommendations-tabs ul li a{
	font-size: 14px;
    text-decoration: none;
}
.cat-recommendations .cat-recommendations-tabs ul li.active a{
	font-weight:bold;
}
.cat-recommendations .cat-recommendations-product{
    float:left;
	width:80%;
	padding-left:10px;
}
.cat-recommendations .cat-recommendations-product .box-product > div:nth-child(5n){
	margin-right:0;
}
.cat-recommendations .box-tab-content{
    visibility:hidden;
	height:0;
	overflow:hidden;
	margin: 0;
}
.cat-recommendations .box-tab-content.active{
    visibility:visible;
	height:auto;
	overflow:visible;
	margin: 0 0 20px;
}
.cat-recommendations .box-tab-content .item{
	float:left;
	padding:0 15px;
}

@media (max-width: 992px) {
	.cat-recommendations .cat-recommendations-tabs {
		float: left;
		width: 100%;
		margin-bottom: 20px;
	}
	.cat-recommendations .cat-recommendations-product {
		float: left;
		width: 100%;
		padding-left:0;
	}
	.cat-recommendations  .box-content {
		padding: 10px;
		padding-bottom:0;
	}	
}

@media (max-width: 767px) {
	.cat-recommendations .box-tab-content .item{
		padding:0;
	}
	.cat-recommendations .swiper-viewport-cr .swiper-button-prev-cr {
		opacity: 0;
		left: -20px;
	}
	.cat-recommendations .swiper-viewport-cr .swiper-button-next-cr {
		opacity: 0;
		right: -20px;
	}
	.cat-recommendations .swiper-viewport-cr:hover .swiper-button-prev-cr {
		opacity: 0.7;
		left: 10px;
		
	}
	.cat-recommendations .swiper-viewport-cr:hover .swiper-button-next-cr {
		opacity: 0.7;
		right: 10px;
	}
}

