{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid csvprice_pro_container">
        {% if warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {{ app_header }}
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li><a href="#tab_export" data-toggle="tab" id="link_tab_export">{{ tab_export }}</a></li>
                    <li><a href="#tab_import" data-toggle="tab" id="link_tab_import">{{ tab_import }}</a></li>
                    <li><a href="#tab_macros" data-toggle="tab" id="link_tab_macros">{{ tab_macros }}</a></li>
                </ul>
                <div class="tab-content">
                    <div class="tab-pane active" id="tab_export">
                        <form action="{{ action_export }}" method="post" id="form_manufacturer_export" enctype="multipart/form-data" class="form-horizontal form-control-sm">
                            <div class="row">
                                <div class="col-sm-6">
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="0">{{ entry_file_encoding }}</label>
                                        <div class="col-sm-7">
                                            <select name="csv_export[file_encoding]" class="form-control input-sm">
                                                {% for key, item in charsets %}
                                                    {% if csv_export.file_encoding == key %}
                                                        <option value="{{ key }}" selected="selected">{{ item }}</option>
                                                    {% else %}
                                                        <option value="{{ key }}">{{ item }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="1">{{ entry_csv_delimiter }}</label>
                                        <div class="col-sm-7">
                                            <select name="csv_export[csv_delimiter]" class="form-control input-sm">
                                                <option value=";"{% if csv_export.csv_delimiter == ';' %} selected="selected"{% endif %}> ;</option>
                                                <option value=","{% if csv_export.csv_delimiter == ',' %} selected="selected"{% endif %}> ,</option>
                                                <option value="Tab"{% if csv_export.csv_delimiter == 'Tab' %} selected="selected"{% endif %}> Tab</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="2">{{ entry_languages }}</label>
                                        <div class="col-sm-7">
                                            <select name="csv_export[language_id]" class="form-control input-sm">
                                                {% for language in languages %}
                                                    {% if csv_export.language_id == language.language_id %}
                                                        <option value="{{ language.language_id }}" selected="selected">{{ language.name }}</option>
                                                    {% else %}
                                                        <option value="{{ language.language_id }}">{{ language.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <input type="hidden" name="csv_export[from_store]" value="0">
                                        <label class="col-sm-5 control-label" data-prop_id="3">{{ entry_store }}</label>
                                        <div class="col-sm-7">
                                            <div class="well well-sm" style="height:100px;margin-bottom:4px;overflow:auto;">
                                                {% for store in stores %}
                                                    <div class="checkbox">
                                                        <label>
                                                            {% if store.store_id in csv_export.from_store %}
                                                                <input type="checkbox" name="csv_export[from_store][]" value="{{ store.store_id }}" checked="checked">
                                                                {{ store.name }}
                                                            {% else %}
                                                                <input type="checkbox" name="csv_export[from_store][]" value="{{ store.store_id }}">
                                                                {{ store.name }}
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="4">{{ entry_manufacturer }}</label>
                                        <div class="col-sm-7">
                                            <input type="text" name="input_manufacturer" value="" placeholder="" id="input_manufacturer" class="form-control input-sm">
                                            <div id="manufacturer_list" class="well well-sm" style="height: 100px; overflow: auto;">
                                                {% for manufacturer in csv_export.product_manufacturer %}
                                                    <div id="manufacturer-id{{ manufacturer.manufacturer_id }}">
                                                        <i class="fa fa-minus-circle"></i> {{ manufacturer.name }}
                                                        <input type="hidden" name="csv_export[product_manufacturer][]" value="{{ manufacturer.manufacturer_id }}">
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="32">{{ entry_image_url }}</label>
                                        <div class="col-sm-7">
                                            <select name="csv_export[image_url]" class="form-control input-sm">
                                                {% if csv_export.image_url == 1 %}
                                                    <option value="1" selected="selected">{{ text_enabled }}</option>
                                                    <option value="0">{{ text_disabled }}</option>
                                                {% else %}
                                                    <option value="1">{{ text_enabled }}</option>
                                                    <option value="0" selected="selected">{{ text_disabled }}</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="col-sm-6">
                                    <table class="table table-hover csvpricepro-field_set form-group-sm" id="tbl_field_set">
                                        <tbody>
                                        {% for field in csv_export.fields_set_data %}
                                            <tr id="row_{{ field.uid }}">
                                                <td>
                                                    <label class="control-label" title="{{ fields_set_help[field.uid] }} {{ field.uid }}">
                                                        <input {% if csv_export.fields_set[field.uid] is defined %} checked="checked" {% endif %} type="checkbox" id="{{ field.uid }}" name="csv_export[fields_set][{{ field.uid }}]" value="1">
                                                        {{ fields_set_help[field.uid] }}
                                                    </label>
                                                </td>
                                                <td><span>{{ field.uid }}</span></td>
                                            </tr>
                                        {% endfor %}
                                        </tbody>
                                    </table>
                                    <a onclick="$(this).parent().find(':checkbox').prop('checked', true);initFieldsSet()">{{ text_select_all }}</a> /
                                    <a onclick="$(this).parent().find(':checkbox').prop('checked', false); initFieldsSet();">{{ text_unselect_all }}</a>
                                </div>
                            </div>
                            <div class="row">
                                <div class="col-sm-12">
                                    <hr>
                                    <div class="pull-right">
                                        <button type="button" class="btn btn-primary" style="min-width:120px" onclick="$('#form_manufacturer_export').submit();">{{ button_export }}</button>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div class="tab-pane" id="tab_import">
                        <form action="{{ action_import }}" method="post" id="form_manufacturer_import" enctype="multipart/form-data" class="form-horizontal form-control-sm">
                            <div class="row">
                                <div class="col-sm-8 col-md-offset-1">
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="0">{{ entry_file_encoding }}</label>
                                        <div class="col-sm-7">
                                            <select name="csv_import[file_encoding]" class="form-control input-sm">
                                                {% for key, item in charsets %}
                                                    {% if csv_import.file_encoding == key %}
                                                        <option value="{{ key }}" selected="selected">{{ item }}</option>
                                                    {% else %}
                                                        <option value="{{ key }}">{{ item }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="1">{{ entry_csv_delimiter }}</label>
                                        <div class="col-sm-4">
                                            <select name="csv_import[csv_delimiter]" class="form-control input-sm">
                                                <option value=";"{% if csv_import.csv_delimiter == ';' %} selected="selected"{% endif %}> ;</option>
                                                <option value=","{% if csv_import.csv_delimiter == ',' %} selected="selected"{% endif %}> ,</option>
                                                <option value="Tab"{% if csv_import.csv_delimiter == 'Tab' %} selected="selected"{% endif %}> Tab</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="11">{{ entry_languages }}</label>
                                        <div class="col-sm-7">
                                            <select name="csv_import[language_id]" class="form-control input-sm">
                                                {% for language in languages %}
                                                    {% if csv_import.language_id == language.language_id %}
                                                        <option value="{{ language.language_id }}" selected="selected">{{ language.name }}</option>
                                                    {% else %}
                                                        <option value="{{ language.language_id }}">{{ language.name }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="5">{{ entry_import_mode }}</label>
                                        <div class="col-sm-7">
                                            <select name="csv_import[mode]" class="form-control input-sm">
                                                <option value="2" {% if csv_import.mode == 2 %} selected="selected" {% endif %}>{{ text_import_mode_update }}</option>
                                                <option value="3" {% if csv_import.mode == 3 %} selected="selected" {% endif %}>{{ text_import_mode_insert }}</option>
                                                <option value="1" {% if csv_import.mode == 1 %} selected="selected" {% endif %}>{{ text_import_mode_both }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="6">{{ entry_key_field }}</label>
                                        <div class="col-sm-7">
                                            <select name="csv_import[key_field]" class="form-control input-sm">
                                                {% for key, item in csv_import_key_fields %}
                                                    {% if csv_import.key_field == key %}
                                                        <option value="{{ key }}" selected="selected">{{ item }}</option>
                                                    {% else %}
                                                        <option value="{{ key }}">{{ item }}</option>
                                                    {% endif %}
                                                {% endfor %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <input type="hidden" name="csv_import[to_store]" value="0">
                                        <label class="col-sm-5 control-label" data-prop_id="10">{{ entry_store }}</label>
                                        <div class="col-sm-7">
                                            <div class="well well-sm" style="height: 150px; overflow: auto;">
                                                {% for store in stores %}
                                                    <div class="checkbox">
                                                        <label>
                                                            {% if store.store_id in csv_import.to_store %}
                                                                <input type="checkbox" name="csv_import[to_store][]" value="{{ store.store_id }}" checked="checked">
                                                                {{ store.name }}
                                                            {% else %}
                                                                <input type="checkbox" name="csv_import[to_store][]" value="{{ store.store_id }}">
                                                                {{ store.name }}
                                                            {% endif %}
                                                        </label>
                                                    </div>
                                                {% endfor %}
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="7">{{ entry_import_id }}</label>
                                        <div class="col-sm-4">
                                            <select name="csv_import[import_id]" class="form-control input-sm">
                                                {% if csv_import.import_id == 1 %}
                                                    <option value="1" selected="selected">{{ text_yes }}</option>
                                                    <option value="0">{{ text_no }}</option>
                                                {% else %}
                                                    <option value="1">{{ text_yes }}</option>
                                                    <option value="0" selected="selected">{{ text_no }}</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label">{{ entry_sort_order }}</label>
                                        <div class="col-sm-4">
                                            <input class="form-control input-sm text-right" type="text" name="csv_import[sort_order]" value="{{ csv_import.sort_order }}">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="8">{{ entry_import_img_download }}</label>
                                        <div class="col-sm-4">
                                            <select name="csv_import[image_download]" class="form-control input-sm">
                                                {% if csv_import.image_download == 1 %}
                                                    <option value="1" selected="selected">{{ text_yes }}</option>
                                                    <option value="0">{{ text_no }}</option>
                                                {% else %}
                                                    <option value="1">{{ text_yes }}</option>
                                                    <option value="0" selected="selected">{{ text_no }}</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label">{{ entry_import_file }}</label>
                                        <div class="col-sm-7">
                                            <input type="file" name="import">
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">&nbsp;</label>
                                        <div class="col-sm-7">
                                            <button type="button" class="btn btn-primary" style="min-width:120px" onclick="$('#form_manufacturer_import').submit();">{{ button_import }}</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </form>
                    </div>
                    <div id="tab_macros" class="tab-pane fade">
                        <form action="{{ action }}" method="post" id="form_macros" enctype="multipart/form-data" class="form-horizontal form-control-sm">
                            <input type="hidden" name="form_macros_status" value="1">
                            <table id="table-macros-field" class="table table-hover table-striped">
                                <thead>
                                <tr>
                                    <th>{{ entry_table }}</th>
                                    <th>{{ entry_field_name }}</th>
                                    <th>{{ entry_csv_name }}</th>
                                    <th>{{ entry_caption }}</th>
                                    <th>{{ entry_type }}</th>
                                    <th>&nbsp;</th>
                                </tr>
                                </thead>
                                {% set field_row = 0 %}
                                {% if manufacturer_macros is not empty %}
                                    <tbody id="tbody_data">
                                    {% for fields in manufacturer_macros %}
                                        <tr id="macros-field-row{{ field_row }}">
                                            <td class="text-left">
                                                <input type="hidden" name="manufacturer_macros[{{ field_row }}][tbl_name]" value="{{ fields.tbl_name }}"/>{{ fields.tbl_name }}
                                            </td>
                                            <td class="text-left">
                                                <input type="hidden" name="manufacturer_macros[{{ field_row }}][field_name]" value="{{ fields.field_name }}"/>{{ fields.field_name }}
                                            </td>
                                            <td class="text-left">
                                                <input type="hidden" name="manufacturer_macros[{{ field_row }}][csv_name]" value="{{ fields.csv_name }}"/>{{ fields.csv_name }}
                                            </td>
                                            <td class="text-left">
                                                <input type="hidden" name="manufacturer_macros[{{ field_row }}][csv_caption]" value="{{ fields.csv_caption }}"/>{{ fields.csv_caption }}
                                            </td>
                                            <td class="text-left">
                                                <input type="hidden" name="manufacturer_macros[{{ field_row }}][csv_type]" value="{{ fields.csv_type ? fields.csv_type : 'HTML' }}"/>{{ fields.csv_type ? fields.csv_type : 'HTML' }}
                                            </td>
                                            <td class="text-center">
                                                <a onclick="$('#macros-field-row{{ field_row }}').remove();" data-toggle="tooltip" title="" class="btn btn-danger btn-sm" data-original-title="{{ button_remove }}"><i class="fa fa-minus-circle"></i></a>
                                            </td>
                                        </tr>
                                        {% set field_row = field_row + 1 %}
                                    {% endfor %}
                                    </tbody>
                                    <tbody id="tbody_foot"></tbody>
                                {% else %}
                                    <tbody id="tbody_foot">
                                    <tr>
                                        <td colspan="6">
                                            {{ text_no_results }}
                                        </td>
                                    </tr>
                                    </tbody>
                                {% endif %}
                                <tbody id="tbody_form" class="csvpricepro_tbody-form">
                                <tr>
                                    <td>
                                        <select id="tbl_name" onchange="loadMacrosField();" class="form-control input-sm">
                                            {% for table_name in db_table %}
                                                <option value="{{ text_db_prefix }}{{ table_name }}">{{ text_db_prefix }}{{ table_name }}</option>
                                            {% endfor %}
                                        </select>
                                    </td>
                                    <td>
                                        <select id="tbl_field_name" onchange="selectMacrostFieldName();" class="form-control input-sm"></select>
                                    </td>
                                    <td>
                                        <input type="text" id="csv_name" value="" class="form-control input-sm">
                                    </td>
                                    <td>
                                        <input type="text" id="csv_caption" value="" class="form-control input-sm">
                                    </td>
                                    <td>
                                        <select id="csv_type" class="form-control input-sm">
                                            <option value="HTML">HTML</option>
                                            <option value="TEXT">TEXT</option>
                                        </select>
                                    </td>
                                    <td class="text-center">
                                        <a onclick="addMacrosRow();" data-toggle="tooltip" title="" class="btn btn-success btn-sm" data-original-title="{{ button_insert }}"><i class="fa fa-plus-circle"></i></a>
                                    </td>
                                </tr>
                                </tbody>
                            </table>
                        </form>
                        <div class="row">
                            <div class="col-sm-12">
                                <hr>
                                <div class="pull-right">
                                    <button type="button" class="btn btn-primary" style="min-width:120px" onclick="$('#form_macros').submit();">{{ button_save }}</button>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <script>
        var prop_descr = new Array();
        {{ prop_descr ? prop_descr }}
        // Document Ready
        jQuery(document).ready(function ($) {
            $('.csvprice_pro_container .nav-tabs li.active').removeClass('active');
            $('.csvprice_pro_container .tab-content div.active').removeClass('active');
            $("#link_{{ tab_selected }}").parent().addClass('active');
            $("#{{ tab_selected }}").removeClass('fade').addClass('active');
            initFieldsSet();
            $('#tbl_field_set input[type=checkbox]').change(function () {
                setBackgroundColor(this);
            });
            loadMacrosField();
        });

        function setBackgroundColor(obj) {
            var row = '#row_' + $(obj).attr('id') + ' td';
            if ($(obj).prop('checked')) {
                $(row).addClass('active');
            } else {
                $(row).removeClass('active');
            }
        }

        function initFieldsSet() {
            $('.field_id').prop('checked', true);
            $('#tbl_field_set input[type=checkbox]').each(function () {
                setBackgroundColor(this);
            });
        }

        // Manufacturer
        $('input[name=\'input_manufacturer\']').autocomplete({
            'source': function (request, response) {
                $.ajax({
                    url: 'index.php?route=catalog/manufacturer/autocomplete&user_token={{ user_token }}&filter_name=' + encodeURIComponent(request),
                    dataType: 'json',
                    success: function (json) {
                        response($.map(json, function (item) {
                            return {
                                label: item['name'],
                                value: item['manufacturer_id']
                            }
                        }));
                    }
                });
            },
            'select': function (item) {
                $('input[name=\'manufacturer_name\']').val('');
                $('#manufacturer_id' + item['value']).remove();
                $('#manufacturer_list').append('<div id="manufacturer_id' + item['value'] + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" name="csv_export[product_manufacturer][]" value="' + item['value'] + '"></div>');
            }
        });
        $('.csvprice_pro_container #manufacturer_list').delegate('.fa-minus-circle', 'click', function () {
            $(this).parent().remove();
        });
        // Macros
        var field_row = {{ field_row ? field_row : 0 }};

        function deleteMacrosRow(obj) {
            $('#macros-field-row' + obj).remove();
        }

        function addMacrosRow() {
            var tbl_name = $('#table-macros-field #tbl_name option:selected').val();
            var field_name = $('#table-macros-field #tbl_field_name option:selected').val();
            var csv_name = $('#table-macros-field #csv_name').val();
            var csv_caption = $('#table-macros-field #csv_caption').val();
            var csv_type = $('#table-macros-field #csv_type').val();

            if (field_name == -1 || csv_name == '' || csv_caption == '') {
                return;
            }
            var html = '<tr id="macros-field-row' + field_row + '">';
            html += '    <td class="text-left"><input type="hidden" name="manufacturer_macros[' + field_row + '][tbl_name]" value="' + tbl_name + '" size="1">' + tbl_name + '</td>';
            html += '    <td class="text-left"><input type="hidden" name="manufacturer_macros[' + field_row + '][field_name]" value="' + field_name + '" size="1">' + field_name + '</td>';
            html += '    <td class="text-left"><input type="hidden" name="manufacturer_macros[' + field_row + '][csv_name]" value="' + csv_name + '" size="1">' + csv_name + '</td>';
            html += '    <td class="text-left"><input type="hidden" name="manufacturer_macros[' + field_row + '][csv_caption]" value="' + csv_caption + '" size="1">' + csv_caption + '</td>';
            html += '    <td class="text-left"><input type="hidden" name="manufacturer_macros[' + field_row + '][csv_type]" value="' + csv_type + '" size="1">' + csv_type + '</td>';
            html += '    <td class="text-center"><a onclick="deleteMacrosRow(' + field_row + ');" data-toggle="tooltip" class="btn btn-danger btn-sm" data-original-title="{{ button_remove }}"><i class="fa fa-minus-circle"></i></a></td>';
            html += '  </tr>';
            if (field_row < 1) {
                $('#table-macros-field #tbody_foot').html('');
            }
            $('#table-macros-field #tbody_foot').append(html);
            resetFormMacros();
            $('#table-macros-field #tbl_name option').change();
            field_row++;
        }

        function resetFormMacros() {
            $('#csv_name').val('');
            $('#csv_caption').val('');
        }

        function loadMacrosField() {
            var table_index = {};
            {% set i = 0 %}
            {% for table_name in db_table %}
            table_index['{{ text_db_prefix }}{{ table_name }}'] = {{ i }};
            {% set i = i + 1 %}
            {% endfor %}
            var table = {{ db_table_fields }};
            var data = table[table_index[$('#tbl_name option:selected').val()]];

            $('#tbl_field_name').get(0).options.length = 0;
            $('#tbl_field_name').get(0).options[0] = new Option(" {{ text_none }} ", "-1");
            $.each(data, function (index, text) {
                $("#tbl_field_name").get(0).options[$("#tbl_field_name").get(0).options.length] = new Option(text, text);
            });
            resetFormMacros();
            return false;
        }

        function selectMacrostFieldName() {
            $('#csv_name').val('');
            $('#csv_caption').val('');
            var field_name = $('#tbl_field_name option:selected').val();
            if (field_name != -1) {
                field_name = '_CUSTOM_' + field_name.toString().toUpperCase() + '_';
                $('#csv_name').val(field_name);
                $('#csv_caption').focus();
            }
        }
    </script>
    {{ app_footer }}
</div>
{{ footer }}