{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid csvprice_pro_container">
        {% if warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ warning }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {% if success %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
                <button type="button" class="close" data-dismiss="alert">&times;</button>
            </div>
        {% endif %}
        {{ app_header }}
        <div class="panel panel-default">
            <div class="panel-body">
                <ul class="nav nav-tabs">
                    <li class="active">
                        <a href="#tab_setting" data-toggle="tab" id="link_tab_setting">{{ tab_setting }}</a></li>
                    <li><a href="#tab_tool_image" data-toggle="tab" id="link_tab_tool_image">{{ tab_tool_image }}</a>
                    </li>
                    <li><a href="#tab_tool_backup" data-toggle="tab" id="link_tab_tool_backup">{{ tab_tool_backup }}</a>
                    </li>
                </ul>
                <div class="tab-content">
                    <div id="tab_setting" class="tab-pane active">
                        <div class="row">
                            <div class="col-sm-8 col-md-offset-1">
                                <form action="{{ action }}" method="post" id="form_general" enctype="multipart/form-data" class="form-horizontal form-control-sm">
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label">{{ entry_csv_import_mod }}</label>
                                        <div class="col-sm-7">
                                            <select name="csvprice_pro_csv_import_mod" class="form-control input-sm">
                                                {% if csvprice_pro_csv_import_mod == 1 %}
                                                    <option value="1" selected="selected">{{ text_manual }}</option>
                                                    <option value="2">{{ text_auto }}</option>
                                                {% else %}
                                                    <option value="1">{{ text_manual }}</option>
                                                    <option value="2" selected="selected">{{ text_auto }}</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="1">{{ entry_image_download_mod }}</label>
                                        <div class="col-sm-7">
                                            <select name="csvprice_pro_image_download_mod" class="form-control input-sm">
                                                {% if csvprice_pro_image_download_mod == 2 %}
                                                    <option value="1">{{ text_auto }}</option>
                                                    <option value="2" selected="selected">{{ text_mirror }}</option>
                                                {% else %}
                                                    <option value="1" selected="selected">{{ text_auto }}</option>
                                                    <option value="2">{{ text_mirror }}</option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="2">{{ entry_save_img_table }}</label>
                                        <div class="col-sm-7">
                                            <select name="csvprice_pro_save_image_table" class="form-control input-sm">
                                                {% if csvprice_pro_save_image_table is not empty and csvprice_pro_save_image_table == 0 %}
                                                    <option value="1"> {{ text_yes }} </option>
                                                    <option value="0" selected="selected"> {{ text_no }} </option>
                                                {% else %}
                                                    <option value="1" selected="selected"> {{ text_yes }} </option>
                                                    <option value="0"> {{ text_no }} </option>
                                                {% endif %}
                                            </select>
                                            <div class="control-label pull-left">
                                                <button type="button" class="btn btn-warning btn-sm" onclick="confirm('{{ text_confirm }}') ? location.href = '{{ clear }}' : false;">
                                                    <i class="fa fa-eraser"></i> {{ button_delete_image_cache }}
                                                </button>
                                            </div>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label" data-prop_id="3">{{ entry_work_directory }}</label>
                                        <div class="col-sm-7">
                                            <input name="csvprice_pro_work_directory" class="form-control input-sm" value="{{ csvprice_pro_work_directory }}">
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label">{{ entry_product_log }}</label>
                                        <div class="col-sm-7">
                                            <select name="csvprice_pro_product_log" class="form-control input-sm">
                                                {% if csvprice_pro_product_log is not defined %}
                                                    <option value="1"> {{ text_yes }} </option>
                                                    <option value="0" selected="selected"> {{ text_no }} </option>
                                                {% elseif csvprice_pro_product_log is not empty and csvprice_pro_product_log == 0 %}
                                                    <option value="1"> {{ text_yes }} </option>
                                                    <option value="0" selected="selected"> {{ text_no }} </option>
                                                {% else %}
                                                    <option value="1" selected="selected"> {{ text_yes }} </option>
                                                    <option value="0"> {{ text_no }} </option>
                                                {% endif %}
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">&nbsp;</label>
                                        <div class="col-sm-7">
                                            <button type="button" class="btn btn-primary" style="min-width:120px" onclick="$('#form_general').submit();">{{ button_save }}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="tab_tool_image" class="tab-pane">
                        <div class="row">
                            <div class="col-sm-8 col-md-offset-1">
                                <form class="form-horizontal form-control-sm">
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label">{{ entry_clear_image_cache }}</label>
                                        <div class="col-sm-7">
                                            <a onclick="confirm('{{ text_confirm }}') ? location.href = '{{ cache }}' : false;" class="btn btn-warning btn-sm"><i class="fa fa-eraser"></i> {{ button_clear }}
                                            </a>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                    <div id="tab_tool_backup" class="tab-pane">
                        <div class="row">
                            <div class="col-sm-8 col-md-offset-1">
                                <form action="{{ backup }}" method="post" name="form_general_backup" id="form_general_backup" enctype="multipart/form-data" class="form-horizontal form-control-sm">
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label">{{ entry_backup_data }}</label>
                                        <div class="col-sm-7">
                                            <select name="csv_backup_data" class="form-control input-sm">
                                                <option value="1"{% if csv_backup_data is not defined or csv_backup_data == 1 %} selected="selected"{% endif %}>{{ text_product_backup }}</option>
                                                <option value="2"{% if csv_backup_data == 2 %} selected="selected"{% endif %}>{{ text_category_backup }}</option>
                                                <option value="3"{% if csv_backup_data == 3 %} selected="selected"{% endif %}>{{ text_manufacturer_backup }}</option>
                                                <option value="4"{% if csv_backup_data == 4 %} selected="selected"{% endif %}>{{ text_product_all_backup }}</option>
                                                <option value="5"{% if csv_backup_data == 5 %} selected="selected"{% endif %}>{{ text_full_backup }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label">{{ entry_backup_type }}</label>
                                        <div class="col-sm-7">
                                            <select name="csv_backup_type" class="form-control input-sm">
                                                <option value="oc"{% if csv_backup_type is not defined or csv_backup_type == 'oc' %} selected="selected"{% endif %}>{{ text_opencart_backup }}</option>
                                                <option value="raw"{% if csv_backup_type == 'raw' %} selected="selected"{% endif %}>{{ text_raw_backup }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group form-group-sm">
                                        <label class="col-sm-5 control-label">{{ entry_backup_zip }}</label>
                                        <div class="col-sm-7">
                                            <select name="csv_backup_zip" class="form-control input-sm">
                                                <option value="on"{% if csv_backup_zip == 'on' %} selected="selected"{% endif %}>{{ text_enabled }}</option>
                                                <option value="off"{% if csv_backup_zip is not defined or csv_backup_zip == 'off' %} selected="selected"{% endif %}>{{ text_disabled }}</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-5 control-label">&nbsp;</label>
                                        <div class="col-sm-7">
                                            <button type="submit" form="form_general_backup" class="btn btn-success" style="min-width:120px">
                                                <i class="fa fa-download"></i> {{ button_export }}</button>
                                        </div>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ app_footer }}
    <script>
        jQuery(document).ready(function () {
            $('.csvprice_pro_container .nav-tabs li.active').removeClass('active');
            $('.csvprice_pro_container .tab-content div.active').removeClass('active');
            $("#link_{{ tab_selected }}").parent().addClass('active');
            $("#{{ tab_selected }}").removeClass('fade').addClass('active');
        });
        var prop_descr = new Array();
        {{ prop_descr ? prop_descr }}

    </script>
</div>
{{ footer }}