{{ header }}{{ column_left }}
<div id="content">
    <div class="page-header">
        <div class="container-fluid">
            <ul class="breadcrumb">
                {% for breadcrumb in breadcrumbs %}
                    <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>
    <div class="container-fluid csvprice_pro_container">
        {% if warning %}
            <div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ warning }}
            <button type="button" class="close" data-dismiss="alert">&times;</button></div>{% endif %}
        {% if success %}
            <div class="alert alert-success"><i class="fa fa-check-circle"></i> {{ success }}
            <button type="button" class="close" data-dismiss="alert">&times;</button></div>{% endif %}
        {{ app_header }}
        <div class="panel panel-default">
            <div class="panel-body">
                <div class="row">
                    <div class="col-sm-8 col-md-offset-1">
                        <form action="{{ action }}" method="post" id="form-license" enctype="multipart/form-data" class="form-horizontal">
                            <div class="form-group form-group-sm">
                                {% if entry_license_key != false %}
                                    <label for="license_key" class="col-sm-5 control-label">{{ entry_license_key }}</label>
                                    <div class="col-sm-7">
                                        <div class="input-group">
                                            <input type="text" class="form-control form-control-sm" name="license_key" id="license_key" placeholder="License Key">
                                            <span class="input-group-btn"> <button type="submit" form="form-license" data-toggle="tooltip" class="btn btn-primary btn-sm" data-original-title="{{ button_save }}"><i class="fa fa-save"></i></button> </span>
                                        </div>
                                    </div>
                                {% else %}
                                    <label class="col-sm-5 control-label">{{ text_license_key }}</label>
                                    <div class="col-sm-7">
                                        <span class="form-control-static"><a data-toggle="modal" data-target="#csvModalLicense">{{ text_show }}</a></span>
                                    </div>
                                    <div id="csvModalLicense" class="modal fade" tabindex="-1" role="dialog">
                                        <div class="modal-dialog" role="document">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                        <span aria-hidden="true">&times;</span></button>
                                                    <h4 class="modal-title">CSV Price Pro import/export {{ text_license_key }}</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <input type="text" class="form-control" onfocus="$(this).select();" value="{{ license_key }}" readonly>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-info" data-dismiss="modal">{{ button_close }}</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="col-sm-5 control-label">{{ text_app_name }}</label>
                                <div class="col-sm-7"><span class="form-control-static">{{ app_name }}</span></div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="col-sm-5 control-label">{{ text_home_page }}</label>
                                <div class="col-sm-7"><span class="form-control-static">{{ home_page }}</span></div>
                            </div>
                            <div class="form-group form-group-sm">
                                <label class="col-sm-5 control-label">{{ text_support_email }}</label>
                                <div class="col-sm-7">
                                    <span class="form-control-static"><a href="mailto:{{ support_email }}">{{ support_email }}</a></span>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {{ app_footer }}
</div>
{{ footer }}
