<div class="header-wrapper header6">

{% if top_line_style %}
<div class="top_line">
  <div class="container {{ top_line_width }}">
  	<div class="table">
        <div class="table-cell left sm-text-center xs-text-center">
            <div class="promo-message">

<div class="top-header-info">
    <div class="all-hover region_data" data-district="51" data-time_delivery="21" data-region="103433">
        <div class="cont-pad">
		    <!-- <div class="tel phonft">(044) 361-14-81</div> -->
        <div class="tel phonft">(067) 812-59-95</div>
			<!-- <div class="tel phopen"><a style="color: #333;" title="Позвонить" href="tel:380443611481">(044) 361-14-81</a></div> -->
      <div class="tel phopen"><a style="color: #333;" title="Позвонить" href="tel:0678125995">(067) 812-59-95</a></div>
        </div>
        <div class="hover-info-block">
            <div class="zvonok">
                <a onclick="get_modal_callbacking();">Заказать звонок</a>
            </div>
			<div class="phone">
                <strong><a title="Позвонить" href="tel:3800678125995">(067) 812-59-95</a></strong>
	            <a title="Viber" href="viber://chat?number=+380678125995">Viber</a>
            </div>
			<div class="phone">
                <strong><a title="Позвонить" href="tel:380666521828">(066) 652-18-28</a></strong>
            </div>
			<div class="phone">
                <strong><a title="Позвонить" href="tel:380633470929">(063) 347-09-29</a></strong>
            </div>
            <div class="home home2">
	            магазин: <span style="color:#2a9ae6;">г. Киев</span><br>
                <span rel="nofollow" data-toggle="modal" data-target="#exampleModal">бул. Дружбы Народов 18/7</span>
            </div>
            <br>                                                    
        </div>
    </div>
    <div id="bxdynamic_comp_header_info_end" style="display:none"></div>
</div>
<!-- Modal -->
<div class="modal fade" id="exampleModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLabel" aria-hidden="true">
  <div class="modal-dialog" role="document">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalLabel">бул. Дружбы Народов, 18/7, Киев </h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="col-sm-6" style="padding: 0 5px;"><img style="height:300px;width:450px;" alt="shop" height="300" width="450" src="https://skyshar.com.ua/catalog/view/theme/basel/image/adres.jpg"></div><div class="col-sm-6 modal-map">
          <!-- <iframe src="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d5084.78793781339!2d30.540052!3d50.415131!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40d4cf6a862f8661%3A0x8536ceed868144e4!2z0LHRg9C7LiDQlNGA0YPQttCx0Ysg0J3QsNGA0L7QtNC-0LIsIDE4LzcsINCa0LjQtdCyLCAwMjAwMA!5e0!3m2!1sru!2sua!4v1570329608721!5m2!1sru!2sua" width="450" height="300" style="border:0;" allowfullscreen=""></iframe> -->
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-primary" data-dismiss="modal">Закрыть</button>
      </div>
    </div>
  </div>
</div>
<div class="soc-head">
<a href="https://www.instagram.com/skyshar.com.ua/" target="_blank"><i class="fa fa-instagram" aria-hidden="true"></i></a>
</div>
			</div>
        </div>
        <div class="table-cell text-right hidden-xs hidden-sm">
            <div class="links">
            <ul>
            {% include 'basel/template/common/static_links.twig' %}
            </ul>
            {% if lang_curr_title %}
            <div class="setting-ul">
            <div class="setting-li dropdown-wrapper from-left lang-curr-trigger nowrap"><a>
            <span>{{ lang_curr_title }}</span>
            </a>
            <div class="dropdown-content dropdown-right lang-curr-wrapper">
            {{ language }}
            {{ currency }}
            </div>
            </div>
            </div>
            {% endif %}
            </div>
        </div>
    </div> <!-- .table ends -->
  </div> <!-- .container ends -->
</div> <!-- .top_line ends -->
{% endif %}

<span class="table header-main sticky-header-placeholder slidedown">&nbsp;</span>
<div class="sticky-header slidedown outer-container header-style">
  <div class="container {{ main_header_width }}">
    <div class="table header-main {{ main_menu_align }}">

    <div class="table-cell text-left w20 logo">
    	{% if logo %}
        <div id="logo">
    	<a href="{{ home }}">
        <img src="{{ logo }}" title="{{ name }}" alt="{{ name }}" class="img-responsive" width="98" height="64" loading="lazy" />
      </a>
        </div>
    	{% endif %}
    </div>

    {% if primary_menu %}
    <div class="table-cell text-center w60 menu-cell hidden-xs hidden-sm">
        <div class="main-menu">
            <ul class="categories">
              {% if primary_menu == 'oc' %}
                <!-- Default menu -->
                {{ default_menu }}
              {% elseif primary_menu is defined %}
                <!-- Mega menu -->
                {% for key, row in primary_menu_desktop %}
                {% include 'basel/template/common/menus/mega_menu.twig' %}
                {% endfor %}
              {% endif %}
            </ul>
        </div>
    </div>
    {% endif %}

    <div class="table-cell w20 shortcuts text-right">

       <div class="font-zero">
	   
	    <div class="icon-element mob-search">
            <a class="icon-magnifier icon"></a>
        </div>

        <div class="icon-element is_wishlist">
        <a class="shortcut-wrapper wishlist" href="{{ wishlist }}">
        <div class="wishlist-hover"><i class="icon-heart icon"></i><span class="counter wishlist-counter">{{ wishlist_counter }}</span></div>
        </a>
        </div>

        <div class="icon-element catalog_hide">
        <div id="cart" class="dropdown-wrapper from-top">
        <a href="{{ checkout }}" class="shortcut-wrapper cart">
        <i id="cart-icon" class="global-cart black"></i> <span id="cart-total" class="nowrap">
        <span class="counter cart-total-items">{{ cart_items }}</span> <span class="slash hidden-md hidden-sm hidden-xs">/</span>&nbsp;<b class="cart-total-amount hidden-sm hidden-xs">{{ cart_amount }}</b>
        </span>
        </a>
        <div class="dropdown-content dropdown-right hidden-sm hidden-xs">
        {{ cart }}
        </div>
		</div>
		<div class="accart">
		    <a href="/index.php?route=account/account">Авторизация</a>
		</div>
        </div>

        <div class="icon-element">
        <a class="shortcut-wrapper menu-trigger hidden-md hidden-lg">
        <i class="icon-line-menu icon"></i>
        </a>
        </div>

       </div>

    </div>

    </div> <!-- .table.header_main ends -->
  </div> <!-- .container ends -->
</div> <!-- .sticky ends -->
<div class="top_line mob-hmen">
    <div class="menu-trigger mt-left">
	    <i class="icon-line-menu icon"></i>
		Каталог шаров
	 </div>
	<div class="menu-trigger mt-right">
	    <i class="icon-line-menu icon"></i>
		Информация
	 </div>
</div>
<div class="outer-container header-bottom hidden-xs hidden-sm">
<div class="container {{ main_header_width }}">

	<div class="table">
    	{% if secondary_menu %}
    	<div class="table-cell w275">
        <div class="main-menu vertical vertical-menu-bg dropdown-wrapper from-bottom">
        <h4 class="menu-heading"><b>{{ basel_text_category }}<i class="fa fa-angle-down"></i></b></h4>
            <ul class="categories vertical-menu-bg dropdown-content">
              {% if secondary_menu == 'oc' %}
                <!-- Default menu -->
                {{ default_menu }}
              {% elseif secondary_menu is defined %}
                <!-- Mega menu -->
                {% for key, row in secondary_menu_desktop %}
                {% include 'basel/template/common/menus/mega_menu.twig' %}
                {% endfor %}
              {% endif %}
            </ul>
        </div>
        </div>
        {% endif %}




    </div>

</div><!-- .container ends -->
</div>
</div> <!-- .header_wrapper ends -->
<div class="close-menu-mob-left">X</div>
<div class="close-menu-mob-right">X</div>
<div class="widget main-menu-wrapper menu-page"> 
</div>