<div class="widget module{{ module }} {% if columns != 'list' %} grid{% endif %}{% if contrast %} contrast-bg{% endif %}{% if carousel and rows > 1 %}  multiple-rows{% endif %}" {% if use_margin %}style="margin-bottom: {{ margin }}"{% endif %}> 
{% if block_title %}
<!-- Block Title -->
<div class="widget-title">
{% if title_preline %}<p class="pre-line">{{ title_preline }}</p>{% endif %}
{% if title %} 
<p class="main-title"><span>{{ title }}</span></p>
<p class="widget-title-separator"><i class="icon-line-cross"></i></p>
{% endif %}
{% if title_subline %}
<p class="sub-line"><span>{{ title_subline }}</span></p>
{% endif %}
</div>
{% endif %}
{% if tabs|length > 1 %}
<!-- Tabs -->
<ul id="tabs-{{ module }}" class="nav nav-tabs {{ tabstyle }}" data-tabs="tabs" style="">
    {% for keyTab, tab in tabs %}
        {% if keyTab == 0 %}
        <li class="active"><a href="#tab{{ module }}{{ keyTab }}" data-toggle="tab">{{ tab.title }}</a></li>
        {% else %}
        <li><a href="#tab{{ module }}{{ keyTab }}" data-toggle="tab">{{ tab.title }}</a></li>
        {% endif %}
    {% endfor %}
</ul>
{% endif %}
<div class="tab-content has-carousel {% if not carousel %}overflow-hidden{% endif %}">
<!-- Product Group(s) -->
{% for key, tab in tabs %}
<div class="tab-pane{% if key == 0 %} active in{% endif %} fade" id="tab{{ module }}{{ key }}">
    <div class="grid-holder grid{{ columns }} prod_module{{ module }}{% if carousel %} carousel{% endif %}{% if carousel_a and rows > 1 %} sticky-arrows{% endif %}">
        {% for i, product in tab.products %}
        <div id="product{{ product.product_id }}" class="item single-product">
          <div class="product-over" id="m_over{{ product.product_id }}">
            <div class="prod-ov-close" data-close="m_over{{ product.product_id }}">X</div>
            <input type="hidden" name="product_id" value="{{ product.product_id }}" />
            <input class="price-ov" type="hidden" value="{% if product.special %}{{ product.special }}{% else %}{{ product.price }}{% endif %}" />
            <div class="img-ov"><img src="{{ product.thumb }}" alt="Опция {{ product.name }} – фото {{ 1 + key }}{{ i }}" title="Опция {{ product.name }} – фото {{ 1 + key }}{{ i }}" /></div>
            {% if product.options %}
              <div class="options">
                {% for option in product.options %}
        
                  {% if option.type == 'checkbox' %}
                    <div class="form-group{% if option.required %} required{% endif %}">
                      <div class="checkbox-cell name">
                        <label class="control-label">{% for option_value in option.product_option_value %}<input class="option-click" data-price="{{ option_value.price }}" data-op="m_over{{ product.product_id }}" type="checkbox" name="option[{{ option.product_option_id }}][]" value="{{ option_value.product_option_value_id }}" /><span class="check"></span>{% endfor %}{{ option.name }}<i class="fa fa-question-circle qu-hover"><div class="qu-text">Обработка HiFloat продлевает время полёта шариков: вместо 8-12 часов они будут радовать вас несколько дней</div></i></label>
                      </div>
                    </div>
                  {% endif %}
        
                {% endfor %} <!-- foreach option -->
              </div>
            {% endif %}
            {% if product.price %}
              <div class="price">
                <div class="price-pr">
                  {% if product.special %}
                    <span class="price-old">{{ product.price }}</span><span class="price-new price-real">{{ product.special }}</span>
                  {% else %}
                    <span class="price-real">{{ product.price }}</span>
                  {% endif %}
                  {% if product.tax %}
                    <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                  {% endif %}
                </div>
                <div class="price-btn">
                  <div class="br-btnbuy">
                   <input id="inp{{ product.product_id }}wd" data-op="m_over{{ product.product_id }}" type="number" step="1" min="1" name="quantity" value="1" class="form-control input-quantity input-quantity-option">
                   <a class="btn catalog_hide {% if basel_list_style == '6' %}btn-contrast{% else %}btn-outline{% endif %}" {% if button_cart == 'Купить' %}onclick="addCartOption('{{ product.product_id }}');"{% endif %}><span class="global-cart"></span>{{ button_cart }}</a>
                 </div>
                 {% if button_cart == 'Купить' %}
                  <div class="br-btnon">
                    <a onclick="fastorder_open({{ product.product_id }});" class="btn catalog_hide {% if basel_list_style == '6' %}btn-contrast{% else %}btn-outline{% endif %}" >Быстрый заказ</a>
                  </div>
                {% endif %}
              </div>
            </div><!-- .price -->
          {% endif %}
        </div>
        <div class="image" {% if columns == 'list' %}style="width:{{ img_width }}px"{% endif %}>
          <a href="{{ product.href }}">
            <img class="hidden-xs img-responsive" src="{{ product.thumb }}" alt="{{ product.name }} – фото {{ 1 + key }}{{ i }}" title="{{ product.name }} – фото {{ 1 + key }}{{ i }}" width="{{ product.width }}" height="{{ product.height }}" loading="lazy" />
            <img class="hidden-sm hidden-md hidden-lg img-responsive" src="{{ product.thumb_xs }}" alt="{{ product.name }} – фото {{ 1 + key }}{{ i }}" title="{{ product.name }} – фото {{ 1 + key }}{{ i }}" width="181" height="181" loading="lazy" />
            {% if product.thumb2 %}
              <img class="thumb2 hidden-xs img-responsive" src="{{ product.thumb2 }}" alt="{{ product.name }} – фото {{ 1 + key }}{{ 1 + i }}" title="{{ product.name }} – фото {{ 1 + key }}{{ 1 + i }}" width="{{ product.width }}" height="{{ product.height }}" loading="lazy" />
              <img class="thumb2 hidden-sm hidden-md hidden-lg img-responsive" src="{{ product.thumb2_xs }}" alt="{{ product.name }} – фото {{ 1 + key }}{{ 1 + i }}" title="{{ product.name }} – фото {{ 1 + key }}{{ 1 + i }}" width="181" height="181}" loading="lazy" />
            {% endif %}
          </a>
          {% if product.price and product.special and salebadge_status %}
            <div class="sale-counter id{{ product.product_id }}"></div>
            <span class="badge sale_badge"><i>{{ product.sale_badge }}</i></span>
          {% endif %}
          {% if product.new_label %}
            <span class="badge new_badge"><i>{{ basel_text_new }}</i></span>
          {% endif %}
          {% if ((product.quantity < 1) and (stock_badge_status)) %}
            <span class="badge out_of_stock_badge"><i>{{ basel_text_out_of_stock }}</i></span>
            {% set button_cart = basel_text_out_of_stock %}
            {% else %}
             {% set button_cart = default_button_cart %}
             {% endif %}
             <a class="img-overlay" href="{{ product.href }}"></a>
             <div class="btn-center catalog_hide"><a class="btn btn-light-outline btn-thin" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');">{{ button_cart }}</a></div>
             <div class="icons-wrapper">
              <!--<a class="icon is-cart catalog_hide" data-toggle="tooltip" data-placement="{{ tooltip_align }}" data-title="{{ button_cart }}" onclick="cart.add('{{ product.product_id }}', '{{ product.minimum }}');"><span class="global-cart"></span></a>-->
              <a class="icon is_wishlist" data-toggle="tooltip" data-placement="{{ tooltip_align }}"  data-title="{{ button_wishlist }}" onclick="wishlist.add('{{ product.product_id }}');"><span class="icon-heart"></span></a>
              <a class="icon is_compare" onclick="compare.add('{{ product.product_id }}');" data-toggle="tooltip" data-placement="{{ tooltip_align }}" data-title="{{ button_compare }}"><span class="icon-refresh"></span></a>
              <a class="icon is_quickview" onclick="quickview('{{ product.product_id }}');" data-toggle="tooltip" data-placement="{{ tooltip_align }}" data-title="{{ basel_button_quickview }}"><span class="icon-magnifier-add"></span></a>
            </div> <!-- .icons-wrapper -->
          </div><!-- .image ends -->
          <div class="caption">
            <a class="product-name" href="{{ product.href }}">{{ product.name }}</a>
            <div class="rating">
              <span class="rating_stars rating r{{ product.rating }}">
                <i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
              </span>
              <a href="{{ product.href }}#tab-review" class="pull-right">{{ product.review }}</a>
            </div>
            <div class="price-wrapper">
              {% if product.price %}
                <div class="price">
                  <div class="price-pr">
                    <div class="price-title">{{ basel_text_price }}</div>
                    {% if product.special %}
                      <span class="price-old">{{ product.price }}</span><span class="price-new">{{ product.special }}</span>
                    {% else %}
                      <span>{{ product.price }}</span>
                    {% endif %}
                    {% if product.tax %}
                      <span class="price-tax">{{ text_tax }} {{ product.tax }}</span>
                    {% endif %}
                  </div>
                  <div class="price-btn">
                    <div class="br-btnbuy">
                     <input  id="out{{ product.product_id }}wd" data-op="m_over{{ product.product_id }}" type="number" step="1" min="1" name="quantity" value="1" class="form-control input-quantity input-quantity-product">
                     {% if product.options %}
                       <a class="category-btn-open btn catalog_hide {% if basel_list_style == '6' %}btn-contrast{% else %}btn-outline{% endif %}" data-prodid="m_over{{ product.product_id }}"><span class="global-cart"></span>{{ button_cart }}</a>
                     {% else %}
                       <a class="btn catalog_hide {% if basel_list_style == '6' %}btn-contrast{% else %}btn-outline{% endif %}" {% if button_cart == 'Купить' %}onclick="addCartOption('{{ product.product_id }}');"{% endif %}><span class="global-cart"></span>{{ button_cart }}</a>
                     {% endif %}
                   </div>
                   {% if button_cart == 'Купить' %}
                    <div class="br-btnon">
                      <a onclick="fastorder_open({{ product.product_id }});" class="btn catalog_hide {% if basel_list_style == '6' %}btn-contrast{% else %}btn-outline{% endif %}" >Быстрый заказ</a>
                    </div>
                  {% endif %}
                </div>
              </div><!-- .price -->
            {% endif %}
            <p class="description">{% if product.description %}{{ product.description }}{% endif %}</p>
          </div><!-- .price-wrapper -->
          <div class="plain-links">
            <a class="icon is_wishlist link-hover-color" onclick="wishlist.add('{{ product.product_id }}');"><span class="icon-heart"></span> {{ button_wishlist }}</a>
            <a class="icon is_compare link-hover-color" onclick="compare.add('{{ product.product_id }}');"><span class="icon-refresh"></span> {{ button_compare }}</a>
            <a class="icon is_quickview link-hover-color" onclick="quickview('{{ product.product_id }}');"><span class="icon-magnifier-add"></span> {{ basel_button_quickview }}</a>
          </div><!-- .plain-links-->
        </div><!-- .caption-->
        {% if product.sale_end_date and countdown_status %}
          <script>
          $(function() {
           $(".sale-counter.id{{ product.product_id }}").countdown("{{ product.sale_end_date }}").on('update.countdown', function(event) {
            var $this = $(this).html(event.strftime(''
              + '<div>'
              + '%D<i>{{ basel_text_days }}</i></div><div>'
              + '%H <i>{{ basel_text_hours }}</i></div><div>'
              + '%M <i>{{ basel_text_mins }}</i></div><div>'
              + '%S <i>{{ basel_text_secs }}</i></div></div>'));
          });
         });
          </script>
        {% endif %}
        <script>
          inp{{ product.product_id }}wd.addEventListener('input', function () {
              out{{ product.product_id }}wd.value = this.value;
          });
        </script>
        <script>
          out{{ product.product_id }}wd.addEventListener('input', function () {
              inp{{ product.product_id }}wd.value = this.value;
          });
        </script>
        </div><!-- .single-product ends -->
        {% endfor %}
    </div>
</div>
{% endfor %}
{% if use_button %}
<!-- Button -->
<div class="widget_bottom_btn {% if carousel and carousel_b %}has-dots{% endif %}">
<a class="btn btn-contrast" href="{{ link_href ? link_href : '' }}">{{ link_title }}</a>
</div>
{% endif %}
</div>
<div class="clearfix"></div>
</div>
{% if carousel %}
<script>
$('.grid-holder.prod_module{{ module }}').slick({
{% if carousel_a %}
prevArrow: "<a class=\"arrow-left icon-arrow-left\"></a>",
nextArrow: "<a class=\"arrow-right icon-arrow-right\"></a>",
{% else %}
arrows: false,
{% endif %}
{% if direction == 'rtl' %}
rtl: true,
{% endif %}
{% if carousel_b %}
dots:true,
{% endif %}
respondTo:'min',
rows:{{ rows }},
{% if columns == '5' %}
slidesToShow:5,slidesToScroll:5,responsive:[{breakpoint:1100,settings:{slidesToShow:4,slidesToScroll:4}},{breakpoint:960,settings:{slidesToShow:3,slidesToScroll:3}},{breakpoint:600,settings:{slidesToShow:2,slidesToScroll:2}},
{% elseif columns == '4' %}
slidesToShow:4,slidesToScroll:4,responsive:[{breakpoint:960,settings:{slidesToShow:3,slidesToScroll:3}},{breakpoint:600,settings:{slidesToShow:2,slidesToScroll:2}},
{% elseif columns == '3' %}
slidesToShow:3,slidesToScroll:3,responsive:[{breakpoint:600,settings:{slidesToShow:2,slidesToScroll:2}},
{% elseif columns == '2' %}
slidesToShow:2,slidesToScroll:2,responsive:[
{% elseif columns == '1' or columns == 'list' %}
adaptiveHeight:true,slidesToShow:1,slidesToScroll:1,responsive:[
{% endif %}
{% if items_mobile_fw %}
{breakpoint:420,settings:{slidesToShow:1,slidesToScroll:1}}
{% endif %}
]
});
$('.product-style2 .single-product .icon').attr('data-placement', 'top');
$('[data-toggle=\'tooltip\']').tooltip({container: 'body'});
{% if carousel_a and rows > 1 %}
$(window).load(function() {
var p_c_o = $('.prod_module{{ module }}').offset().top;
var p_c_o_b = $('.prod_module{{ module }}').offset().top + $('.prod_module{{ module }}').outerHeight(true) - 100;
var p_sticky_arrows = function(){
var p_m_o = $(window).scrollTop() + ($(window).height()/2);
if (p_m_o > p_c_o && p_m_o < p_c_o_b) {
$('.prod_module{{ module }} .slick-arrow').addClass('visible').css('top', p_m_o - p_c_o + 'px');
} else {
$('.prod_module{{ module }} .slick-arrow').removeClass('visible');
}
};
$(window).scroll(function() {p_sticky_arrows();});
});
{% endif %}
</script>
{% endif %}
<script>
function addQtyToCart(product_id) {
  var qty = $('.item-' + product_id).val();
  if ((parseFloat(qty) != parseInt(qty)) || isNaN(qty)) {
	qty = 1;
  }
  cart.add(product_id, qty);
}
</script>
<script>
  $( ".option-click" ).change(function() {
  var thisprice = $(this).attr("data-price");
  var overid = $(this).attr("data-op");
  var str = $("#" + overid + " .price-ov").val();
  str = str.replace(/[^-0-9]/gim,'');
  var qnty = $("#" + overid + " .input-quantity").val();
  
if($(this).is(":checked")){
   str = parseInt(str) + parseInt(thisprice);
}
  str = str * qnty;
  $("#" + overid + " .price-pr .price-real").html(str + "грн.");
});

$( ".input-quantity" ).bind('click keyup', function(event) {
  var overid = $(this).attr("data-op");
  var thisprice = $("#" + overid + " .option-click").attr("data-price");
  var str = $("#" + overid + " .price-ov").val();
  str = str.replace(/[^-0-9]/gim,'');
  var qnty = $("#" + overid + " .input-quantity").val();
  
if($("#" + overid + " .option-click").is(":checked")){
   str = parseInt(str) + parseInt(thisprice);
}
  str = str * qnty;
  $("#" + overid + " .price-pr .price-real").html(str + "грн.");
});

$(".category-btn-open").click(function() {
  var varov = $(this).attr("data-prodid");
  $("#" + varov).show();
});
$(".prod-ov-close").click(function() {
  var varov = $(this).attr("data-close");
  $("#" + varov).hide();
});


function addCartOption(id) {
	var product = '#product' + id;
	
	$.ajax({
		url: 'index.php?route=extension/basel/basel_features/add_to_cart',
		type: 'post',
		data: $(product + ' input[type=\'text\'], ' + product + ' .input-quantity, ' + product + ' input[type=\'hidden\'], ' + product + ' input[type=\'radio\']:checked, ' + product + ' input[type=\'checkbox\']:checked, ' + product + ' select, ' + product + ' textarea'),
		dataType: 'json',
		beforeSend: function(json) {
			$('body').append('<span class="basel-spinner ajax-call"></span>');
		},

		success: function(json) {
			$('.alert, .text-danger').remove();
			$('.table-cell').removeClass('has-error');

			if (json.error) {
				$('.basel-spinner.ajax-call').remove();
				if (json.error.option) {
					for (i in json.error.option) {
						var element = $('#input-option' + i.replace('_', '-'));

						if (element.parent().hasClass('input-group')) {
							element.parent().after('<div class="text-danger">' + json.error.option[i] + '</div>');
						} else {
							element.after('<div class="text-danger">' + json.error.option[i] + '</div>');
						}
					}
				}

				if (json.error.recurring) {
					$('select[name=\'recurring_id\']').after('<div class="text-danger">' + json['error']['recurring'] + '</div>');
				}

				// Highlight any found errors
				$('.text-danger').parent().addClass('has-error');
			}

				if (json.success_redirect) {
					
					location = json.success_redirect;
				
				} else if (json.success) {
					
					$('.table-cell').removeClass('has-error');
					$('.alert, .popup-note, .basel-spinner.ajax-call, .text-danger').remove();
				 
					html = '<div class="popup-note">';
					html += '<div class="inner">';
					html += '<a class="popup-note-close" onclick="$(this).parent().parent().remove()">&times;</a>';
					html += '<div class="table">';
					html += '<div class="table-cell v-top img"><img src="' + json.image + '" /></div>';
					html += '<div class="table-cell v-top">' + json.success + '</div>';
					html += '</div>';
					html += '</div>';
					html += '</div>';
					$('body').append(html);
					setTimeout(function() {$('.popup-note').hide();}, 8100);
					// Need to set timeout otherwise it wont update the total
					setTimeout(function () {
					$('.cart-total-items').html( json.total_items );
					$('.cart-total-amount').html( json.total_amount );
					}, 100);

					$('#cart-content').load('index.php?route=common/cart/info #cart-content > *');
			}
		},
        error: function(xhr, ajaxOptions, thrownError) {
            alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
        }
	});
}
</script>