{% set class 		= '' %}
{% set icon_font 	= '' %}
{% set class_link 	= '' %}
{% set title 		= '' %}
{% set target 		= '' %}
{% set submenu_bg_img = '' %}
{% set caret 		= '' %}

{% if row.icon_font %}
{% set icon_font = '<i class="icon '~row.icon_font~'"></i>' %}
{% endif %}

{% if row.description != '' %}
{% set class_link = class_link~' description' %}
{% endif %}

{% if row.class_menu %}
{% set class = class~row.class_menu %}
{% endif %}

{% if row.submenu is iterable and row.submenu %}
{% set caret = "<i class='fa fa-angle-down'></i>" %}
  {% if row.submenu_width == 'full' %}
	{% set class = class~' has-sub dropdown-wrapper has-full-width' %}
	{% set is_full_width = true %}
  {% else %}
	{% set class = class~' has-sub dropdown-wrapper from-bottom' %}
	{% set is_full_width = false %}
  {% endif %}
{% endif %}
                            
{% if row.new_window %}
{% set target = ' external' %}
{% endif %}

{% if 'no_image' in row.icon %}
{% set icon = '' %}
{% else %}
{% set submenu_bg_img %}
background-image:url('{{ row.icon }}');
background-position:{{ row.position }};
{% endset %}
{% endif %}

<!-- Top level items -->
<li class="{{ class }}">
<a {% if row.link %} href="{{ row.link }}" {% endif %} class="{{ class_link }} {{ target }}">
{{ icon_font }}<span class="top test1">{{ row.name[lang_id] }}</span>{{ row.description }}{{ caret }}
</a>
{% if row.submenu is iterable and row.submenu %}
<!-- Sub Menu items -->
<!-- if full width -->
{% if row.submenu_width == 'full' %}
<div class="full-width-dropdown dropdown-content sub-holder" style="{{ submenu_bg_img }}">
{% else %}
<div class="dropdown-content sub-holder dropdown-left{% if row.submenu_width < '231' %} narrow{% endif %}" style="{% if row.submenu_width|length %}width:{{ row.submenu_width }}px;{% endif %}{{ submenu_bg_img }}">
{% endif %}

{% if row.submenu_width == 'full' %}
<div class="container">
{% endif %}

<div class="dropdown-inner">
<div class="row">
{% set row_fluid = 0 %}
{% for submenu in row.submenu %}

{% set target = '' %}
{% if submenu.new_window %}{% set target = 'external' %}{% endif %}

{% set icon_font = '' %}
{% if submenu.icon_font %}{% set icon_font = '<i class="'~submenu.icon_font~'"></i>' %}{% endif %}

{% if row_fluid+submenu.content_width > 12 %}
{% set row_fluid = submenu.content_width %}
</div><div class="border"></div><div class="row">
{% else %}
{% set row_fluid = row_fluid+submenu.content_width %}
{% endif %}

<div class="col-xs-12 col-sm-{{ submenu.content_width }} {{ submenu.class_menu }}">
<div class="menu-item">
{% if submenu.show_title %}
{% if submenu.link %}
<h4 class="column-title">{% if icon_font %}<span class="icon">{{ icon_font }}</span>{% endif %}<b><a href="{{ submenu.link }}" class="{{ target }}">{{ submenu.name[lang_id] }}{{ submenu.description }}</a></b></h4>
{% else %}
<h4 class="column-title">{% if icon_font %}<span class="icon">{{ icon_font }}</span>{% endif %}<b>{{ submenu.name[lang_id] }}{{ submenu.description }}</b></h4>
{% endif %}
{% endif %}
{% if submenu.content_type == '0' %}
<!-- HTML CONTENT -->
<div class="html hover-menu">
{{ submenu.html }}
</div>
{% endif %}
{% if submenu.content_type == '1' %}
<!-- SINGLE PRODUCT CONTENT -->
{% if submenu.product is iterable %}
<div class="grid">
<div class="single-product menu-product">
<div class="image">
<a href="{{ submenu.product.link }}">
<img src="{{ submenu.product.image }}" alt="{{ submenu.product.name }}" title="{{ submenu.product.name }}" />
{% if submenu.product.image2 %}
<img class="thumb2" src="{{ submenu.product.image2 }}" alt="{{ submenu.product.name }}" title="{{ submenu.product.name }}" />
{% endif %}
</a>
{% if submenu.product.price and submenu.product.special and salebadge_status %}
<div class="sale-counter mm id{{ submenu.product.id }}"></div>
<span class="badge sale_badge"><i>{{ basel_text_sale }}</i></span>
{% endif %}
{% if submenu.product.new_label %}
<span class="badge new_badge"><i>{{ basel_text_new }}</i></span>
{% endif %}
<a class="img-overlay" href="{{ submenu.product.link }}"></a>
<div class="btn-center"><a class="btn btn-light-outline btn-thin btn-tiny" onclick="cart.add('{{ submenu.product.id }}', '{{ submenu.product.minimum }}');">{{ button_cart }}</a></div>
<div class="icons-wrapper">
<a class="icon is-cart" data-toggle="tooltip" data-placement="left" data-title="{{ button_cart }}" onclick="cart.add('{{ submenu.product.id }}', '{{ submenu.product.minimum }}');"><span class="global-cart"></span></a>
<a class="icon is_wishlist" data-toggle="tooltip" data-placement="left" data-title="{{ button_wishlist }}" onclick="wishlist.add('{{ submenu.product.id }}');"><span class="icon-heart"></span></a>
<a class="icon is_compare" onclick="compare.add('{{ submenu.product.id }}');" data-toggle="tooltip" data-placement="left" data-title="{{ button_compare }}"><span class="icon-refresh"></span></a>
<a class="icon is_quickview hidden-xs" onclick="quickview('{{ submenu.product.id }}');" data-toggle="tooltip" data-placement="left" data-title="{{ basel_button_quickview }}"><span class="icon-magnifier-add"></span></a>
</div>
</div>
<div class="caption">
<a class="product-name" href="{{ submenu.product.link }}">{{ submenu.product.name }}</a>
{% if submenu.product.rating %}      
<div class="rating">
<span class="rating_stars rating r{{ submenu.product.rating }}">
<i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i><i class="fa fa-star-o"></i>
</span>
</div>
{% endif %}
<div class="price-wrapper">
{% if submenu.product.price %}
<div class="price">
{% if submenu.product.special %}
<span class="price-old">
{{ submenu.product.price }}</span><span class="price-new">{{ submenu.product.special }}
</span>
{% else %}
{{ submenu.product.price }}
{% endif %}
</div>
{% endif %}
<a class="btn btn-outline btn-tiny catalog_hide" onclick="cart.add('{{ submenu.product.id }}', '{{ submenu.product.minimum }}');"><span class="global-cart"></span>{{ button_cart }}</a>
</div>
</div>
{% if submenu.product.sale_end_date and countdown_status %}
<script>
$(function() {
$(".sale-counter.mm.id{{ submenu.product.id }}").countdown({
date: "{{ submenu.product.sale_end_date }}",
render: function(data) {
$(this.el).html(
"<div>" + 
data.days + "<i>{{ basel_text_days }}</i></div><div>" + 
data.hours + " <i>{{ basel_text_hours }}</i></div><div>" + 
data.min + " <i>{{ basel_text_mins }}</i></div><div>" + 
data.sec + " <i>{{ basel_text_secs }}</i></div>");
} 
}); 
});
</script>
{% endif %}
</div>
</div>
{% endif %}
{% endif %}
{% if submenu.content_type == '2' %}
<!-- CATEGORIES CONTENT -->
<div class="categories">
{{ submenu.categories }}
</div>
{% endif %}
{% if submenu.content_type == '4' %}
<!-- BANNER CONTENT -->
<div class="link">
{{ submenu.images.link }}
</div>
{% endif %}
</div>
</div>
{% endfor %}
</div> <!-- row -->
</div>

{% if row.submenu_width == 'full' %}
</div>
{% endif %}

</div>
{% endif %}
</li>