{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-module" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
			<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
			<h1>{{ heading_title }}</h1>
			<ul class="breadcrumb">
				{% for breadcrumb in breadcrumbs %}
				<li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
				{% endfor %}
			</ul>
		</div>
	</div>
	<div class="container-fluid">
		{% if error_warning %}
		<div class="alert alert-danger alert-dismissible"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
			<button type="button" class="close" data-dismiss="alert">&times;</button>
		</div>
		{% endif %}
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
			</div>
			<div class="panel-body">
				<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-module" class="form-horizontal">
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-name">{{ entry_name }}</label>
						<div class="col-sm-10">
							<input type="text" name="name" value="{{ name }}" placeholder="{{ entry_name }}" id="input-name" class="form-control" />
							{% if error_name %}
							<div class="text-danger">{{ error_name }}</div>
							{% endif %}
						</div>
					</div>          
					<div class="form-group">
						<label class="col-sm-2 control-label">{{ entry_category }}</label>
						<div class="col-sm-10">
							<select id="category_product" class="form-control">
								{% for category in categories %}
								<option value="{{ category.category_id }}">{{ category.name }}</option>
								{% endfor %}
							</select>
						</div>
					</div>  
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-product"><span data-toggle="tooltip" title="{{ help_product }}">{{ entry_product }}</span></label>
						<div class="col-sm-10">
							<input type="text" name="product" value="" placeholder="{{ entry_product }}" id="input-product" class="form-control" />
							<div id="cat_recommendations-product" class="well well-sm" style="height: 150px; overflow: auto;">
								{% for key, category in category_list %}
								<div style="{% if key == 0 %} display:block {% else %} display:none {% endif %}" id="cat_recommendationsegory{{ category.category_id }}">
									{% for product in category.products %}
									<div id="cat_recommendations-product{{ product.product_id }}-{{ category.category_id }}"><i class="fa fa-minus-circle"></i> {{ product.name }} 
										<input type="hidden" value="{{ product.product_id }}" />
									</div>
									{% endfor %}								
									<input type="hidden" class="cat_recommendations_product" name="cat_recommendations_product_{{ category.category_id }}" value="{{ category.cat_recommendations_product }}" />
								</div> 
								{% endfor %}
							</div>
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-width">{{ entry_width }}</label>
						<div class="col-sm-10">
							<input type="text" name="width" value="{{ width }}" placeholder="{{ entry_width }}" id="input-width" class="form-control" />
							{% if error_width %}
							<div class="text-danger">{{ error_width }}</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-height">{{ entry_height }}</label>
						<div class="col-sm-10">
							<input type="text" name="height" value="{{ height }}" placeholder="{{ entry_height }}" id="input-height" class="form-control" />
							{% if error_height %}
							<div class="text-danger">{{ error_height }}</div>
							{% endif %}
						</div>
					</div>
					<div class="form-group">
						<label class="col-sm-2 control-label" for="input-status">{{ entry_status }}</label>
						<div class="col-sm-10">
							<select name="status" id="input-status" class="form-control">
								{% if status %}
								<option value="1" selected="selected">{{ text_enabled }}</option>
								<option value="0">{{ text_disabled }}</option>
								{% else %}
								<option value="1">{{ text_enabled }}</option>
								<option value="0" selected="selected">{{ text_disabled }}</option>
								{% endif %}
							</select>
						</div>
					</div>
				</form>
			</div>
		</div>
	</div>
	<script type="text/javascript"><!--
		$('body').on('change', '#category_product', function() {
			var id = $(this).val();
			$('#cat_recommendations-product > div').hide();
			$('#cat_recommendationsegory' + id).show();
		});
		
		$('input[name=\'product\']').autocomplete({
			delay: 500,
			source: function(request, response) {
				$.ajax({
					url: 'index.php?route=extension/module/cat_recommendations/autocomplete&user_token={{ user_token }}&filter_name=' +  encodeURIComponent(request) + '&filter_category_id=' + $('#category_product').val(),
					dataType: 'json',
					success: function(json) {
						response($.map(json, function(item) {
							return {
								label: item['name'],
								value: item['product_id']
							}
						}));
					}
				});
			}, 
			select: function(item) {
				$('#cat_recommendations-product' + item['value'] + '-' + $('#category_product').val()).remove();
				
				$('#cat_recommendationsegory' + $('#category_product').val()).append('<div id="cat_recommendations-product' + item['value'] + '-' + $('#category_product').val() + '"><i class="fa fa-minus-circle"></i> ' + item['label'] + '<input type="hidden" value="' + item['value'] + '" /></div>');
				
				data = $.map($('#cat_recommendationsegory' + $('#category_product').val() + ' div input'), function(element){
					return $(element).attr('value');
				});
				
				$('#cat_recommendationsegory' + $('#category_product').val() + ' .cat_recommendations_product').attr('value', data.join());
				
				return false;
			},
			focus: function(event, ui) {
				return false;
			}
		});
		
		$('body').on('click', '#cat_recommendations-product .fa-minus-circle', function() {
			$(this).parent().remove();
			
			data = $.map($('#cat_recommendationsegory' + $('#category_product').val() + ' div input'), function(element){
				return $(element).attr('value');
			});
			
			$('#cat_recommendationsegory' + $('#category_product').val() + ' .cat_recommendations_product').attr('value', data.join());	
		});
		
	//--></script> 
</div>
{{ footer }}
