<div id="sms_form" class="col-sm-12">
<div class="well">
  <div class="form-horizontal">
    <div class="form-group">
      <label class="col-sm-2 control-label" for="input-sms-message">{{ entry_sms_message }}</label>
      <div class="col-sm-2">
        <input type="text" name="sms_message" value="" placeholder="{{ entry_sms_message }}" id="input-sms-message" class="form-control" />
      </div>
      <label class="col-sm-2 control-label" for="input-sms-order-status">{{ entry_order_status }}</label>
      <div class="col-sm-2">
        <select name="sms_order_status" id="input-sms-order-status" class="form-control">
          <option value="0">{{ text_none }}</option>
          {% for order_status in order_statuses %}
          <option value="{{ order_status.order_status_id }}">{{ order_status.name }}</option>
          {% endfor %}
        </select>
      </div>
      <div class="col-sm-4">
        <button type="button" id="button-send-sms" class="btn btn-warning"><i class="fa fa-paper-plane"></i> {{ button_send }}</button>
      </div>
    </div>
  </div>
</div>
  <script type="text/javascript"><!--
$('#button-send-sms').on('click', function(e) {
  $.ajax({
    url: 'index.php?route=extension/module/ochelp_sms_notify/sendSmsMass&user_token={{ user_token }}',
    type: 'POST',
    data: $('#sms_form #input-sms-message, #sms_form #input-sms-order-status, #form-order input[name^=\'selected\']:checked'),
    dataType: 'json',
    crossDomain: true,
    beforeSend: function() {
    $('#button-send-sms').button('loading');
    },
    complete: function() {
    $('#button-send-sms').button('reset');
    },
    success: function(json) {
    $('.success, .warning').remove();

    if (json['error']) {
    $('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json['error'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }

    if (json['success']) {
    $('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json['success'] + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }
    },
    error: function(xhr, ajaxOptions, thrownError) {
    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  }); 
});
//--></script>
</div>