{{ header }}{{ column_left }}
<div id="content">
	<div class="page-header">
		<div class="container-fluid">
			<div class="pull-right">
				<button type="submit" form="form-sms-notify" data-toggle="tooltip" title="{{ button_save }}" class="btn btn-primary"><i class="fa fa-save"></i></button>
				<a href="{{ cancel }}" data-toggle="tooltip" title="{{ button_cancel }}" class="btn btn-default"><i class="fa fa-reply"></i></a></div>
				<h1>{{ heading_title }}</h1>
		        <ul class="breadcrumb">
			        {% for breadcrumb in breadcrumbs %}
			        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
			        {% endfor %}
		        </ul>
			</div>
		</div>
		<div class="container-fluid">
			{% if error_warning %}
			<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> {{ error_warning }}
				<button type="button" class="close" data-dismiss="alert">&times;</button>
			</div>
			{% endif %}
			<div class="panel panel-default">
				<div class="panel-heading">
					<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit }}</h3>
				</div>
				<div class="panel-body">
					<form action="{{ action }}" method="post" enctype="multipart/form-data" id="form-sms-notify" class="form-horizontal">
						<ul class="nav nav-tabs">
							<li class="active"><a href="#tab-sms" data-toggle="tab">{{ tab_sms }}</a></li>
							<li><a href="#tab-tags" data-toggle="tab">{{ tab_tags }}</a></li>
							<li><a href="#tab-template" data-toggle="tab">{{ tab_template }}</a></li>
							<li><a href="#tab-template-customer" data-toggle="tab">{{ tab_template_customer }}</a></li>
							<li><a href="#tab-setting" data-toggle="tab">{{ tab_setting }}</a></li>
							<li><a href="#tab-gate-setting" data-toggle="tab">{{ tab_gate_setting }}</a></li>
							<li><a href="#tab-log" data-toggle="tab">{{ tab_log }}</a></li>
							<li><a href="#tab-support" data-toggle="tab">{{ tab_support }}</a></li>
						</ul>
						<div class="tab-content">
							<div class="tab-pane active" id="tab-sms">
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-client-phone"><span data-toggle="tooltip" title="{{ help_phone }}">{{ entry_client_phone }}</span></label>
									<div class="col-sm-10">
										<input type="text" name="custom_client_phone" id="input-custom-client-phone" class="form-control" value="" placeholder="{{ text_phone_placeholder }}" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-client-template">{{ entry_client_sms }}</label>
									<div class="col-sm-10">
										<input  type="text" name="custom_client_sms" id="input-custom-client-sms" class="form-control" value="" />
									</div>
								</div>
								<div class="form-group">
									<div class="col-sm-12 text-right">
										<button type="button" id="button-send" data-loading-text="{{ text_loading }}" class="btn btn-primary"><i class="fa fa-paper-plane"></i> {{ button_send }}</button>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab-tags">
								<div class="col-sm-12">
									<h3>{{ entry_tags }}</h3>
								</div>
								<table class="table table-bordered table-hover">
									<thead>
										<tr>
											<td class="col-sm-3">{{ entry_tag_valiable }}</td>
											<td class="col-sm-9">{{ entry_tag_description }}</td>
										</tr>
									</thead>
									<tbody>
										<tr>
											<td>{{'{{order_date}}'}}</td>
											<td>{{ tag_date }}</td>
										</tr>
										<tr>
											<td>{{'{{current_date}}'}}</td>
											<td>{{ tag_current_date }}</td>
										</tr>
										<tr>
											<td>{{'{{current_time}}'}}</td>
											<td>{{ tag_time }}</td>
										</tr>
										<tr>
											<td>{{'{{store_name}}'}}</td>
											<td>{{ tag_store }}</td>
										</tr>
										<tr>
											<td>{{'{{store_url}}'}}</td>
											<td>{{ tag_url }}</td>
										</tr>
										<tr>
											<td>{{'{{firstname}}'}}</td>
											<td>{{ tag_firstname }}</td>
										</tr>
										<tr>
											<td>{{'{{lastname}}'}}</td>
											<td>{{ tag_lastname }}</td>
										</tr>
										<tr>
											<td>{{'{{order_id}}'}}</td>
											<td>{{ tag_order_id }}</td>
										</tr>
										<tr>
											<td>{{'{{order_total}}'}}</td>
											<td>{{ tag_order_total }}</td>
										</tr>
										<tr>
											<td>{{'{{order_total_noship}}'}}</td>
											<td>{{ tag_order_total_noship }}</td>
										</tr>
										<tr>
											<td>{{'{{order_phone}}'}}</td>
											<td>{{ tag_order_phone }}</td>
										</tr>
										<tr>
											<td>{{'{{order_comment}}'}}</td>
											<td>{{ tag_order_comment }}</td>
										</tr>
										<tr>
											<td>{{'{{order_status}}'}}</td>
											<td>{{ tag_order_status }}</td>
										</tr>
										<tr>
											<td>{{'{{payment_method}}'}}</td>
											<td>{{ tag_payment_method }}</td>
										</tr>
										<tr>
											<td>{{'{{payment_city}}'}}</td>
											<td>{{ tag_payment_city }}</td>
										</tr>
										<tr>
											<td>{{'{{payment_address}}'}}</td>
											<td>{{ tag_payment_address }}</td>
										</tr>
										<tr>
											<td>{{'{{shipping_cost}}'}}</td>
											<td>{{ tag_shipping_cost }}</td>
										</tr>
										<tr>
											<td>{{'{{shipping_method}}'}}</td>
											<td>{{ tag_shipping_method }}</td>
										</tr>
										<tr>
											<td>{{'{{shipping_city}}'}}</td>
											<td>{{ tag_shipping_city }}</td>
										</tr>
										<tr>
											<td>{{'{{shipping_address}}'}}</td>
											<td>{{ tag_shipping_address }}</td>
										</tr>
										<tr>
											<td>{{'{{products}}'}}</td>
											<td>{{ tag_products }}
												<label class="text-info">{{ help_product }}</label>
											</td>
										</tr>
										<tr>
											<td>{{'{{product.name}}'}}</td>
											<td>{{ tag_product_name }}</td>
										</tr>
										<tr>
											<td>{{'{{product.model}}'}}</td>
											<td>{{ tag_product_model }}</td>
										</tr>
										<tr>
											<td>{{'{{product.sku}}'}}</td>
											<td>{{ tag_product_sku }}</td>
										</tr>
										<tr>
											<td>{{'{{product.price}}'}}</td>
											<td>{{ tag_product_price }}</td>
										</tr>
										<tr>
											<td>{{'{{product.quantity}}'}}</td>
											<td>{{ tag_product_quantity }}</td>
										</tr>
										<tr>
											<td>{{'{{product_total}}'}}</td>
											<td>{{ tag_product_total }}</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="tab-pane" id="tab-template">
								<table class="table table-striped table-hover">
									<tbody>
										<tr>
											<td>{{ entry_admin_template }}</td>
											<td>
												<textarea name="sms_notify_admin_template" id="input-admin-template" class="form-control" cols="80" rows="3">{{ admin_template ? admin_template : '' }}</textarea>
											</td>
										</tr>
										<tr>
											<td>{{ entry_reviews_template }}</td>
											<td>
												<div class="row">
													<div class="col-sm-4">
														<div class="well well-sm">
															{{ help_reviews }}
														</div>
													</div>
													<div class="col-sm-8">
														<textarea name="sms_notify_reviews_template" id="input-reviews-template" class="form-control" cols="80" rows="3">{{ reviews_template ? reviews_template : '' }}</textarea>
													</div>
												</div>
											</td>
										</tr>
									</tbody>
								</table>
							</div>
							<div class="tab-pane" id="tab-template-customer">
								<div class="col-sm-12">
									<h3>{{ entry_client_template }}</h3>
								</div>
								<table class="table table-striped table-hover">
									<tbody>
										<tr>
											<td>{{ entry_client_template }}</td>
											<td>
												{% for language in languages %}
												<div class="input-group">
													<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
													<textarea name="sms_notify_client_template[{{ language.language_id }}]" id="input-client-template-{{ language.language_id }}" class="form-control" cols="80" rows="2">{{ client_template ? client_template[language.language_id] : '' }}</textarea>
												</div>
												{% endfor %}
											</td>
										</tr>
									</tbody>
								</table>					
								{% if payments %}
								<div class="col-sm-12">
									<h3>{{ entry_payment_template }}</h3>
									<div class="alert alert-info">{{ help_sms_payment }}</div>
								</div>
								<table class="table table-striped table-hover">
									<thead>
										<tr>
											<td>{{ entry_payment_alert }}</td>
											<td>{{ entry_template }}</td>
										</tr>
									</thead>
									<tbody>
										{% for payment in payments %}
										{% if payment and payment_template and payment_template[payment.code] is defined %}
										<tr>
											<td>{{ payment.name }}</td>
											<td>
												{% for language in languages %}
												<div class="input-group">
													<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
													<textarea name="sms_notify_payment_template[{{ payment.code }}][{{ language.language_id }}]" id="input-order-status-template{{ payment.code }}-{{ language.language_id }}" class="form-control" cols="80" rows="2">{{ payment_template[payment.code][language.language_id] }}</textarea>
												</div>
												{% endfor %}
											</td>
										</tr>
										{% else %}
										<tr>
											<td>{{ payment.name }}</td>
											<td>
												{% for language in languages %}
												<div class="input-group">
													<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
													<textarea name="sms_notify_payment_template[{{ payment.code }}][{{ language.language_id }}]" id="input-order-status-template{{ payment.code }}-{{ language.language_id }}" class="form-control" cols="80" rows="2"></textarea>
												</div>
												{% endfor %}
											</td>
										</tr>
										{% endif %}
										{% endfor %}
									</tbody>
								</table>
								{% endif %}
								<div class="col-sm-12">
									<h3>{{ entry_order_status_template }}</h3>
								</div>
								{% if order_statuses %}
								<table class="table table-striped table-hover">
									<thead>
										<tr>
											<td>{{ entry_order_status }}</td>
											<td>{{ entry_template }}</td>
										</tr>
									</thead>
									<tbody>
										{% for order_status in order_statuses %}
										{% if (order_status and order_status_template and order_status_template[order_status.order_status_id] is defined) %}
										<tr>
											<td>{{ order_status.name }}</td>
											<td>
												{% for language in languages %}
												<div class="input-group">
													<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
													<textarea name="sms_notify_status_template[{{ order_status.order_status_id }}][{{ language.language_id }}]" id="input-order-status-template{{ order_status.order_status_id }}-{{ language.language_id }}" class="form-control" cols="80" rows="2">{{ order_status_template[order_status.order_status_id][language.language_id] }}</textarea>
												</div>
												{% endfor %}
											</td>
										</tr>
										{% else %}
										<tr>
											<td>{{ order_status.name }}</td>
											<td>
												{% for language in languages %}
												<div class="input-group">
													<span class="input-group-addon"><img src="language/{{ language.code }}/{{ language.code }}.png" title="{{ language.name }}" /></span>
													<textarea name="sms_notify_status_template[{{ order_status.order_status_id }}][{{ language.language_id }}]" id="input-order-status-template{{ order_status.order_status_id }}-{{ language.language_id }}" class="form-control" cols="80" rows="2"></textarea>
												</div>
												{% endfor %}
											</td>
										</tr>
										{% endif %}
										{% endfor %}
									</tbody>
								</table>
								{% endif %}
							</div>
							<div class="tab-pane" id="tab-setting">
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-admin-alert">{{ entry_admin_alert }}</label>
									<div class="col-sm-10">
										<select name="sms_notify_admin_alert" id="input-admin-alert" class="form-control">
											{% if admin_alert %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
											{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-client-alert">{{ entry_client_alert }}</label>
									<div class="col-sm-10">
										<select name="sms_notify_client_alert" id="input-client-alert" class="form-control">
											{% if client_alert %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
											{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-order-alert">{{ entry_order_alert }}</label>
									<div class="col-sm-10">
										<select name="sms_notify_order_alert" id="input-order-alert" class="form-control">
											{% if order_alert %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
											{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-reviews-alert">{{ entry_reviews }}</label>
									<div class="col-sm-10">
										<select name="sms_notify_reviews" id="input-reviews-alert" class="form-control">
											{% if reviews %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
											{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-force"><span data-toggle="tooltip" title="{{ help_force }}">{{ entry_force }}</span></label>
									<div class="col-sm-10">
										<select name="sms_notify_force" id="input-force" class="form-control">
											{% if force %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
											{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-translit"><span data-toggle="tooltip" title="{{ help_translit }}">{{ entry_translit }}</span></label>
									<div class="col-sm-10">
										<select name="sms_notify_translit" id="input-translit" class="form-control">
											{% if translit %}
											<option value="1" selected="selected">{{ text_enabled }}</option>
											<option value="0">{{ text_disabled }}</option>
											{% else %}
											<option value="1">{{ text_enabled }}</option>
											<option value="0" selected="selected">{{ text_disabled }}</option>
											{% endif %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-sms-notify-payment"><span data-toggle="tooltip" title="{{ help_customer_group }}">{{ entry_customer_group }}</span></label>
									<div class="col-sm-10">
										<div class="well well-sm" style="height: 150px; overflow: auto;">
											{% for customer_group in customer_groups %}
											<div class="checkbox">
				                        <label>
				                          {% if customer_group.customer_group_id in sms_customer_group %}
				                          <input type="checkbox" name="sms_notify_customer_group[]" value="{{ customer_group.customer_group_id }}" checked="checked" />
				                          {{ customer_group.name }}
				                          {% else %}
				                          <input type="checkbox" name="sms_notify_customer_group[]" value="{{ customer_group.customer_group_id }}" />
				                          {{ customer_group.name }}
				                          {% endif %}
				                        </label>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-sms-notify-payment"><span data-toggle="tooltip" title="{{ help_payment_alert }}">{{ entry_payment_alert }}</span></label>
									<div class="col-sm-10">
										<div class="well well-sm" style="height: 150px; overflow: auto;">
											{% for payment in payments %}
											<div class="checkbox">
												<label>
													{% if payment.code in sms_payment %}
													<input type="checkbox" name="sms_notify_payment[]" value="{{ payment.code }}" checked="checked" />
													{{ payment.name }}
													{% else %}
													<input type="checkbox" name="sms_notify_payment[]" value="{{ payment.code }}" />
													{{ payment.name }}
													{% endif %}
												</label>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-sms-notify-order-status"><span data-toggle="tooltip" title="{{ help_order_status }}">{{ entry_order_status }}</span></label>
									<div class="col-sm-10">
										<div class="well well-sm" style="height: 150px; overflow: auto;">
											{% for order_status in order_statuses %}
											<div class="checkbox">
												<label>
													{% if order_status.order_status_id in sms_order_status %}
														<input type="checkbox" name="sms_notify_order_status[]" value="{{ order_status.order_status_id }}" checked="checked" />
														{{ order_status.name }}
													{% else %}
														<input type="checkbox" name="sms_notify_order_status[]" value="{{ order_status.order_status_id }}" />
														{{ order_status.name }}
													{% endif %}
												</label>
											</div>
											{% endfor %}
										</div>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-sms-template">{{ entry_sms_template }}</label>
									<div class="col-sm-10">
										<textarea name="sms_notify_sms_template" id="input-sms-template" class="form-control" cols="80" rows="5">{{ sms_template ? sms_template : '' }}</textarea>
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab-gate-setting">
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-template">{{ entry_sms_gatename }}</label>
									<div class="col-sm-10">
										<select name="sms_notify_gatename" id="input-template" class="form-control">
											{% for sms_gatename in sms_gatenames %}
												{% if (sms_notify_gatename == sms_gatename) %} 
												<option value="{{ sms_gatename }}" selected="selected">{{ sms_gatename }}</option>
												{% else %} 
												<option value="{{ sms_gatename }}">{{ sms_gatename }}</option>
												{% endif %}
											{% endfor %}
										</select>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-sms-notify-from"><span data-toggle="tooltip" title="{{ help_sms_from }}">{{ entry_sms_from }}</span></label>
									<div class="col-sm-10">
										<input type="text" name="sms_notify_from" value="{{ sms_notify_from }}" placeholder="{{ entry_sms_from }}" id="input-sms-notify-from" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-sms-notify-to"><span data-toggle="tooltip" title="{{ help_phone }}">{{ entry_sms_to }}</span></label>
									<div class="col-sm-10">
										<input type="text" name="sms_notify_to" value="{{ sms_notify_to }}" placeholder="{{ entry_sms_to }}" id="input-sms-notify-to" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-sms-notify-copy"><span data-toggle="tooltip" title="{{ help_sms_copy }}">{{ entry_sms_copy }}</span></label>
									<div class="col-sm-10">
										<textarea name="sms_notify_copy" rows="5" placeholder="{{ entry_sms_copy }}" id="input-sms-notify-copy" class="form-control">{{ sms_notify_copy }}</textarea>
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-sms-gate-username">{{ entry_sms_gate_username }}</label>
									<div class="col-sm-10">
										<input type="text" name="sms_notify_gate_username" value="{{ sms_notify_gate_username }}" placeholder="{{ entry_sms_gate_username }}" id="input-sms-gate-username" class="form-control" />
									</div>
								</div>
								<div class="form-group">
									<label class="col-sm-2 control-label" for="input-sms-notify-gate-password">{{ entry_sms_gate_password }}</label>
									<div class="col-sm-10">
										<input type="text" name="sms_notify_gate_password" value="{{ sms_notify_gate_password }}" placeholder="{{ entry_sms_gate_password }}" id="input-sms-notify-gate-password" class="form-control" />
									</div>
								</div>
							</div>
							<div class="tab-pane" id="tab-log">
								<fieldset>
									<div class="form-group">
										<label class="col-sm-2 control-label" for="input-sms-log">{{ entry_sms_log }}</label>
										<div class="col-sm-4">
											<select name="sms_notify_log" id="input-sms-log" class="form-control">
												{% if sms_notify_log %}
												<option value="1" selected="selected">{{ text_enabled }}</option>
												<option value="0">{{ text_disabled }}</option>
												{% else %}
												<option value="1">{{ text_enabled }}</option>
												<option value="0" selected="selected">{{ text_disabled }}</option>
												{% endif %}
											</select>
										</div>
										<div class="col-sm-4">
											<button type="button" id="button-clear-log" data-loading-text="{{ text_loading }}" class="btn btn-danger"><i class="fa fa-eraser"></i> {{ button_clear }}</button>
										</div>
									</div>
									<div class="panel-body">
										<textarea wrap="off" rows="15" readonly class="form-control">{{ sms_log }}</textarea>
									</div>
								</fieldset>
							</div>
							<div class="tab-pane" id="tab-support">
								<div class="panel-body">
									{{ help_support }}
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</form>
	</div>
	{{ footer }}
</div>
</div>
</div>
<script type="text/javascript"><!--
$('#button-send').on('click', function() {
  $.ajax({
    url: 'index.php?route=extension/module/ochelp_sms_notify/sendSms&user_token={{ user_token }}',
    type: 'post',
    data: 'sms_message=' + $('#input-custom-client-sms').val() + '&phone=' + $('#input-custom-client-phone').val(),
    dataType: 'json',
    crossDomain: true,
    beforeSend: function() {
    $('#button-send').button('loading');
    },
    complete: function() {
    $('#button-send').button('reset');
    },
    success: function(json) {
    $('.success, .warning').remove();

    if (json.error) {
    $('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json.error + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }

    if (json.success) {
    $('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json.success + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }
    },
    error: function(xhr, ajaxOptions, thrownError) {
    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});

$('#button-clear-log').on('click', function() {
  $.ajax({
    url: 'index.php?route=extension/module/ochelp_sms_notify/clearLog&user_token={{ user_token }}',
    dataType: 'json',
    crossDomain: true,
    beforeSend: function() {
    $('#button-clear-log').button('loading');
    },
    complete: function() {
    $('#button-clear-log').button('reset');
    },
    success: function(json) {
    $('.success, .warning').remove();

    if (json.error) {
    $('#content > .container-fluid').prepend('<div class="alert alert-danger"><i class="fa fa-exclamation-circle"></i> ' + json.error + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');
    }

    if (json.success) {
    $('#content > .container-fluid').prepend('<div class="alert alert-success"><i class="fa fa-check-circle"></i> ' + json.success + ' <button type="button" class="close" data-dismiss="alert">&times;</button></div>');

      location.reload();  
    }
    },
    error: function(xhr, ajaxOptions, thrownError) {
    alert(thrownError + "\r\n" + xhr.statusText + "\r\n" + xhr.responseText);
    }
  });
});
//-->
</script>
{% if ckeditor %}
<script type="text/javascript"><!--
ckeditorInit('input-sms-template', '{{ user_token }}');
//-->
</script>
{% else %}
  <script type="text/javascript" src="view/javascript/summernote/summernote.js"></script>
  <link href="view/javascript/summernote/summernote.css" rel="stylesheet" />
  <script type="text/javascript" src="view/javascript/summernote/opencart.js"></script>
  <script type="text/javascript"><!--
  $('#input-sms-template').summernote({
    height: 150,
      lang:'{{ lang }}'
  });
  //-->
</script>
{% endif %}