{{header}}{{column_left}}
<div id="content">
 <div class="page-header">
    <div class="container-fluid">
       <div class="pull-right">
      <div class="buttons">
		  <a class="btn btn-primary" onclick="$('#form').submit();" class="button"><span  data-toggle="tooltip" title="<?php echo $button_save; ?>" ><i class="fa fa-save"></i></span></a>
		  <a class="btn btn-default" onclick="location = '<?php echo $cancel; ?>';" class="button"><span  data-toggle="tooltip" title="<?php echo $button_cancel; ?>" ><i class="fa fa-reply"></i></span></a>
	  </div>
    </div>
      <h1>{{heading_title_callback}}</h1>
      <ul class="breadcrumb">
		{% for breadcrumb in breadcrumbs %}
        <li><a href="{{ breadcrumb.href }}">{{ breadcrumb.text }}</a></li>
		{% endfor %}
      </ul>
    </div>
  </div>
	<div class="container-fluid">
		<div class="panel panel-default">
			<div class="panel-heading">
				<h3 class="panel-title"><i class="fa fa-pencil"></i> {{ text_edit_callback }}</h3>
			</div>
		<form class="form-horizontal" action="{{ action }}" method="post" enctype="multipart/form-data" id="form">
			<div class="form-group">
				<label class="col-sm-3 control-label" for="input-currency">{{ text_id }}</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" name="call_id" value="{{ callback_id }}"  disabled />
				</div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{ text_name }}</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" name="name" value="{{ name }}" />
				</div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{ telephone }}</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" name="telephone" value="{{ telephone }}" />
				</div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{ text_comment }}</label>
				<div class="col-sm-9">
					<textarea class="form-control" style="width: 50%" rows="4" cols="40" name="comment">{{ comment }}</textarea>
				</div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{ text_comment_buyer }}</label>
				<div class="col-sm-9">
					<textarea class="form-control" style="width: 50%" rows="4" cols="40" name="comment_buyer"   disabled>{{ comment_buyer }}</textarea>
				</div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{ text_email_buyer }}</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" name="email_buyer" value="{{ email_buyer }}"/>
				</div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{ text_manager_form }}</label>
				<div class="col-sm-9">
					<select class="form-control" name="username">
						<?php if ($username !='') { ?>
						{% if username != '' %}
							<option value="{{ username }}">{{ username }}</option>
						{% else %}
							<option value="{{ logged }}">{{ logged }}</option>
						{% endif %}
						{% for user in users %}
						<option value="{{user.username}}">{{user.username }}</option>
						{% endfor %}
					</select>
				</div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{ text_status }}</label>
				<div class="col-sm-9">
					<select class="form-control" name="status_id">
						{% if status_id == '0' %}
							<option value="0" selected="selected">{{ status_wait }}</option>
							<option value="1" >{{ status_done }}</option>
						{% else %}
							<option value="0" >{{ status_wait }}</option>
							<option value="1" selected="selected">{{ status_done }}</option>
						{% endif %}
					</select>
				</div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{ text_added }}</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" name="date_added" value="{{ date_added }}"  disabled />
				</div>
            </div>
			<div class="form-group">
				<label class="col-sm-3 control-label">{{ text_modified }}</label>
				<div class="col-sm-9">
					<input class="form-control" type="text" name="date_modified" value="{{ date_modified }}"  disabled />
				</div>
            </div>
		</form>
    </div>
  </div>
</div>
{{footer}}
